<div class='section even' id='feedback-survey'>
	<div class='container'>
		<div class='row'>
			<div class='column six'>
				<div class='column-inner'>
					<img src='{{ asset("/static/images/illustrations/fullfilment-survey.png") }}'>
				</div>
			</div>
			<div class='column five last'>
				<div class='column-inner'>
					<h3>{{ 'feedback_survey_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									<p>{{ 'feedback_survey_desc2' | trans }}</p>
								</div>
							</div>
							<div class='column six last'>
								<div class='column-inner'>
									<p>{{ 'feedback_survey_desc2' | trans }}</p>
									<p>{{ 'feedback_survey_desc3' | trans }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>