<div class='section even questions-ideas' id='questions-ideas'>
	<div class='container'>
		<div class='row'>
			<div class='column six'>
				<div class='column-inner'>
					<h3>{{ 'questions_and_ideas_title' | trans }}</h3>
					<div class='row'>
						<div class='column six'>
							<div class='column-inner'>
								{{ 'questions_and_ideas_desc1' | trans | raw }}
							</div>
						</div>
						<div class='column six'>
							<div class='column-inner'>
								{{ 'questions_and_ideas_desc2' | trans | raw }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='column five last'>
				<div class='column-inner'>
					<div class='browser'>
						<div class='browser-window' data-name='quotes_list'>
							<div class='app'>
								<div class='app-header'>
									<div class='app-logo'>wisembly</div>
								</div>
								<div class='app-body'>
									<div class='quote-box'>
										<div class='textarea-container'>
											<textarea placeholder='{{ 'stream_textarea_placeholder' | trans }}'></textarea>
											<div class='textarea-mirror'></div>
										</div>
									</div>
									<div class='quotes-stream'>
										<ul class='list'>
											<li class="auto">
												<span class='quote-text'>{{ 'meeting_stream_item_1_text' | trans }}</span>
												<span class='quote-author'>{{ 'meeting_stream_item_1_author' | trans }}</span>
											</li>
											<li class="auto">
												<span class='quote-text'>{{ 'meeting_stream_item_2_text' | trans }}</span>
												<span class='quote-author'>{{ 'meeting_stream_item_2_author' | trans }}</span>
											</li>
											<li class="auto">
												<span class='quote-text'>{{ 'meeting_stream_item_3_text' | trans }}</span>
												<span class='quote-author'>{{ 'meeting_stream_item_3_author' | trans }}</span>
											</li>
											<li class="auto">
												<span class='quote-text'>{{ 'meeting_stream_item_4_text' | trans }}</span>
												<span class='quote-author'>{{ 'meeting_stream_item_4_author' | trans }}</span>
											</li>
											<li class="auto">
												<span class='quote-text'>{{ 'meeting_stream_item_5_text' | trans }}</span>
												<span class='quote-author'>{{ 'meeting_stream_item_5_author' | trans }}</span>
											</li>
											<li class="manual" data-name='user-quote-tpl'>
												<span class='quote-text'></span>
												<span class='quote-author'>{{ 'you' | trans }}</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>