{% extends 'layouts/main.html.twig' %}

{% block body_class %}administration-edit{% endblock %}

{% block page_css %}
    {{ parent() }}
    <style>
        textarea {
            width: 400px;
            height: 200px;
        }

        input {
            width: 400px;
        }

        .form-edit div {
            margin: 15px 0;
        }

        .form-edit label {
            display: inline-block;
            min-width: 170px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="bread-crumb">
            <a class="catcher btn btn-small" href="{{url('logout')}}">Logout</a>
            <a href="/">Home</a> > <a href="{{url('administration_hub') }}">Administration Hub</a> > <a href="{{ url('administration_table', {'table': table}) }}">{{ table|title }}</a> > #{{ primaryKey }}
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12 form-edit">
                        <form method="post">
                            {{ form_widget(form) }}
                            <div class="form-actions">
                                <input type="submit" class="btn btn-large btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}