<ul class='list about-navigation'>
	<li>
		<a href='{{ path('about') }}'>{{ 'about_our_story' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('about-team') }}'>{{ 'about_the_team' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('about-press') }}'>{{ 'about_in_the_press' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('resources') }}'>{{ 'about_resources' | trans }}</a>
	</li>
</ul>