<ul class='list about-navigation'>
	<li>
		<a href='{{ path('about') }}'>{{ 'Notre histoire' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('about-team') }}'>{{ 'L\'équipe' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('about-press') }}'>{{ 'Dans la presse' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('jobs') }}'>{{ 'Jobs' | trans }}</a>
	</li>
	<li>
		<a href='{{ path('resources') }}'>{{ 'Ressources' | trans }}</a>
	</li>
</ul>