<footer class='footer' id='footer'>
	<div class='container'>
		<div class='row'>
			<div class='column two'>
				<div class='column-inner'>
					<h5>Wisembly</h5>
					<ul class='list page-list'>
						<li><a href='{{ path('classes-trainings') }}'>{{ 'classes_an_trainings_menu_title' | trans }}</a></li>
						<li><a href='{{ path('meetings-confcalls') }}'>{{ 'meetings_and_confcalls_menu_title' | trans }}</a></li>
						<li><a href='{{ path('events-seminaries') }}'>{{ 'events_and_seminaries_menu_title' | trans }}</a></li>
						<li><a href='{{ path('case-studies') }}'>{{ 'case_studies_menu_title' | trans }}</a></li>
						<li><a href='{{ path('plans') }}'>{{ 'plans_menu_title' | trans }}</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'about' | trans }}</h5>
					<ul class='list page-list'>
						<li><a href='{{ path('about') }}'>{{ 'about' | trans }}</a></li>
						<li><a href='{{ path('jobs') }}'>{{ 'jobs' | trans }}</a></li>
						<li><a href='{{ path('contact') }}'>{{ 'contact' | trans }}</a></li>
						<li><a href='{{ path('resources') }}'>{{ 'resources' | trans }}</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'developers' | trans }}</h5>
					<ul class='list page-list'>
						<li><a href='http://wisembly.com/fr/widget'>{{ 'widget' | trans }}</a></li>
						<li><a href='http://wisembly.com/fr/api'>{{ 'api' | trans }}</a></li>
						<li><a href='http://github.com/wisembly'>Github</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'social' | trans }}</h5>
					<ul class='list page-list'>
						<li><a href='https://twitter.com/wisembly'>Twitter</a></li>
						<li><a href='https://www.facebook.com/wisembly'>Facebook</a></li>
						<li><a href='http://www.linkedin.com/company/wisembly'>Linkedin</a></li>
					</ul>
				</div>
			</div>
			<div class='column four last'>
				<div class='column-inner'>
					<div class='clearfix'>

						<div class='dropdown dropdown-lang'>
							<label class='dropdown-toggle' data-toggle='dropdown'>
								<img src='/static/images/flags/{{ app['country'] }}.png'>
							</label>
							<ul class='list dropdown-list'>
								{% if app['country'] != 'fr' %}
								<li>
									<a href='/fr/'>
										<img src='/static/images/flags/fr.png'>
									</a>
								</li>
								{% endif %}
								{% if app['country'] != 'en' %}
								<li>
									<a href='/en/'>
										<img src='/static/images/flags/en.png'>
									</a>
								</li>
								{% endif %}
<!-- 								{% if app['country'] != 'it' %}
								<li>
									<a href='/it/'>
										<img src='/static/images/flags/it.png'>
									</a>
								</li>
								{% endif %}
 -->								{% if app['country'] != 'de' %}
								<li class='last'>
									<a href='/de/'>
										<img src='/static/images/flags/de.png'>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
						<div class='dropdown'>
							<label class='button button-validate'>{{ 'suscribe' | trans }}</label>
							<div class='dropdown-bottom' data-name='dropdown'>
								<form class='subscribe' data-status='active' data-show-errors='false'>
									<div class='row'>
										<div class='column eight'>
											<div class='column-inner'>
													<div class='input-container'>
														<input class='input' placeholder='{{ 'subscribe_newsletter_placeholder' | trans }}' data-required='true' />
														<span class='input-background'></span>
													</div>
											</div>
										</div>
										<div class='column four'>
											<div class='column-inner'>
												<button class='button'>
													<span class='button-text'>{{ 'join_event_button' | trans }}</span>
													<span class='button-processing'>...</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class='trial'>
							<a href='' class='button button-call'>{{ 'free_trial' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</footer>

{% include 'includes/scripts.html.twig' %}