<footer class='footer' id='footer'>
	<div class='container'>
		<div class='row'>
			<div class='column two'>
				<div class='column-inner'>
					<h5>Wisembly</h5>
					<ul class='list page-list'>
						<li><a href='{{ url('classes-trainings') }}'>{{ 'classes_an_trainings_menu_title' | trans }}</a></li>
						<li><a href='{{ url('meetings-confcalls') }}'>{{ 'meetings_and_confcalls_menu_title' | trans }}</a></li>
						<li><a href='{{ url('events-seminaries') }}'>{{ 'events_and_seminaries_menu_title' | trans }}</a></li>
						<li><a href='{{ url('case-studies') }}'>{{ 'case_studies_menu_title' | trans }}</a></li>
						<li><a href='{{ url('clients') }}'>{{ 'our_clients_menu_title' | trans }}</a></li>
						<li><a href='{{ url('plans') }}'>{{ 'plans_menu_title' | trans }}</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'about' | trans }}</h5>
					<ul class='list page-list'>
						<li><a href='{{ url('about-team') }}'>{{ 'about' | trans }}</a></li>
						<li><a href='{{ url('jobs') }}'>{{ 'jobs' | trans }}</a></li>
						<li><a href='{{ url('contact') }}'>{{ 'contact' | trans }}</a></li>
						<li><a href='{{ url('resources') }}'>{{ 'resources' | trans }}</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'developers' | trans }}</h5>
					<ul class='list page-list'>
					    <li><a href='http://wisembly.github.io/api-doc' target='_blank'>{{ 'api' | trans }}</a></li>
						<li><a href='http://wisembly.github.io/widget-doc' target='_blank'>{{ 'widget' | trans }}</a></li>
						<li><a href='http://github.com/wisembly' target='_blank'>Github</a></li>
					</ul>
				</div>
			</div>
			<div class='column two'>
				<div class='column-inner'>
					<h5>{{ 'social' | trans }}</h5>
					<ul class='list page-list'>
						<li><a href='https://twitter.com/wisembly' target='_blank'>Twitter</a></li>
						<li><a href='https://www.facebook.com/wisembly' target='_blank'>Facebook</a></li>
						<li><a href='http://www.linkedin.com/company/wisembly' target='_blank'>Linkedin</a></li>
					</ul>
				</div>
			</div>
			<div class='column four last'>
				<div class='column-inner'>
					<div class='clearfix'>

						<div class='dropdown dropdown-lang'>
							<label class='dropdown-toggle' data-toggle='dropdown'>
								<img src='{{ asset("/static/images/flags/" ~ app['country'] ~ ".png") }}'>
							</label>
							<ul class='list dropdown-list'>
								{% if app['country'] != 'fr' %}
								<li>
									<a href='{{ app.host }}/fr/'>
										<img src='{{ asset("/static/images/flags/fr.png") }}'>
									</a>
								</li>
								{% endif %}
								{% if app['country'] != 'en' %}
								<li>
									<a href='{{ app.host }}/en/'>
										<img src='{{ asset("/static/images/flags/en.png") }}'>
									</a>
								</li>
								{% endif %}
								{% if app['country'] != 'it' %}
								<li>
									<a href='{{ app.host }}/it/'>
										<img src='{{ asset("/static/images/flags/it.png") }}'>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>
						<div class='contact'>
							<a href='{{ url('contact') }}' class='button button-validate'>{{ 'write_to_us' | trans }}</a>
						</div>
						<div class='dropdown hide' data-name='subscribe'>
							<label class='button button-validate' data-toggle='dropdown'>{{ 'suscribe' | trans }}</label>
							<div class='dropdown-bottom' data-name='dropdown'>
								<form class='subscribe' data-status='none' data-validate='parsley' data-show-errors='false'>
									<div class='row'>
										<div class='column eight'>
											<div class='column-inner'>
												<div class='input-container'>
													<input class='input email' placeholder='{{ 'subscribe_newsletter_placeholder' | trans }}' data-required='true' data-type='email' />
													<span class='input-background'></span>
												</div>
											</div>
										</div>
										<div class='column four'>
											<div class='column-inner'>
												<button class='button'>
													<span class='button-text'>{{ 'join_event_button' | trans }}</span>
													<span class='button-processing'>...</span>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class='trial'>
							<a href='{{ url('plans') }}' class='button button-call'>{{ 'free_trial' | trans }}</a>
						</div>
						<div class='mixpanel'>
							<a href='https://mixpanel.com/f/partner'>
								<img src='http://cdn.mxpnl.com/site_media/images/partner/badge_light.png' />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</footer>

{% include 'includes/scripts.html.twig' %}
