<div class='navbar'>
	<div class='brand'>
	 {{ 'wisembly' | trans }}
	</div>
	<div class='top-drawer'>
		<ul class='list'>
			<li>
				<div class='dropdown'>
					<label>{{ 'Francais' | trans }}</label>
					<ul class='list'>
						<li>
							{{ 'english' | trans }}
						</li>
						<li>
							{{ 'german' | trans }}
						</li>
						<li>
							{{ 'italian' | trans }}
						</li>
						<li>
							{{ 'spanish' | trans }}
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href=''>{{ 'Access' | trans }}</a>
			</li>
			<li>
				<a href=''>{{ 'Login' | trans }}</a>
			</li>
		</ul>
	</div>
	<div class='contact-nav'>
		<ul class='list'>
			<li>
				{{ '01 42 61 59 47' | trans }}
			</li>
			<li>
				<a href=''>{{ 'Contacter' | trans }}</a>
			</li>
			<li>
				<a href=''>{{ 'Essai gratuit' | trans }}</a>
			</li>
		</ul>
	</div>
	<div class='navigation'>
		<ul class='list'>
			<li>
				<a href=''>{{ 'Cours et formations' | trans }}</a>
			</li>
			<li>
				<a href=''>{{ 'Réunions et conf-calls' | trans }}</a>
			</li>
			<li>
				<a href=''>{{ 'Evenements' | trans }}</a>
			</li>
			<li>
				<a href=''>{{ 'Essai gratuit' | trans }}</a>
			</li>
		</ul>
	</div>
</div>