<div class='top-bar'>
	<div class='top-header'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='contact-nav'>
							<ul class='list'>
								<li class='first'>
									<ul class='list contact-nav'>
										<li class='item'>
											<span class='item-text'>{{ 'contact_us_number' | trans({'%number%': '01 42 61 59 47'}) | raw }}</span>
										</li>
										<li class='item'>
											<a href='{{ path('contact') }}' class='item-text'>{{ 'write_to_us' | trans }}</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class='column last'>
					<div class='column-inner'>
						<div class='app-nav'>
							<ul class='list'>
								<li>
									<div class='dropdown'>
										<a href='' class='dropdown-toggle'>{{ 'join_an_event' | trans }}</a>
										<div class='dropdown-bottom'>
											<form class='join-event' data-status='none'>
												<div class='row'>
													<div class='column eight'>
														<div class='column-inner'>
																<div class='input-container'>
																	<input class='input' placeholder='{{ 'event_keyword' | trans }}' />
																	<span class='input-background'></span>
																</div>
														</div>
													</div>
													<div class='column four'>
														<div class='column-inner'>
															<button class='button'>
																<span class='button-text'>{{ 'join_event_button' | trans }}</span>
																<span class='button-processing'>...</span>
															</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li>
									<div class='dropdown'>
										<a href='' class='dropdown-toggle'>{{ 'login' | trans }}</a>
										<div class='dropdown-bottom'>
											<form class='login clearfix' data-status='none'>
												<div class='input-container'>
													<input class='input' placeholder='{{ 'email' | trans }}' />
													<span class='input-background'></span>
												</div>
												<div class='input-container'>
													<input class='input' placeholder='{{ 'password' | trans }}' />
													<span class='input-background'></span>
												</div>
												<button class='button'>
													<span class='button-text'>{{ 'login_button' | trans }}</span>
													<span class='button-processing'>...</span>
												</button>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row bottom-header'>
			<div class='column'>
				<div class='column-inner'>
					<a href='{{ path('index') }}' class='brand'>Wisembly</a>
				</div>
			</div>
			<div class='column'>
				<div class='column-inner'>
					<div class='navigation'>
						<ul class='list'>
							<li class='nav-classes-trainings'>
								<a href='{{ path('classes-trainings') }}'>{{ 'classes_an_trainings_menu_title' | trans }}</a>
							</li>
							<li class='nav-meetings-confcalls '>
								<a href='{{ path('meetings-confcalls') }}'>{{ 'meetings_and_confcalls_menu_title' | trans }}</a>
							</li>
							<li class='nav-events-seminaries'>
								<a href='{{ path('events-seminaries') }}'>{{ 'events_and_seminaries_menu_title' | trans }}</a>
							</li>
							<li class='nav-case-studies'>
								<a href='{{ path('case-studies') }}'>{{ 'case_studies_menu_title' | trans }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='column last'>
				<div class='column-inner'>
					<a href='{{ path('plans') }}' class='button button-attention button-small button-light'>{{ 'free_trial' | trans }}</a>
				</div>
			</div>
		</div>
	</div>
</div>