<div class='top-bar'>
	<div class='container'>
		<div class='row top-header hide'>
			<div class='column last'>
				<div class='column-inner'>
					<div class='top-drawer'>
						<ul class='list'>
							<li>
								<a href=''>Access</a>
							</li>
							<li>
								<a href=''>Login</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='column last'>
				<div class='column-inner'>
					<div class='second-drawer'>
						<ul class='list'>
							<li class='first'>
								<ul class='list contact-nav'>
									<li>
										<span class='inline label'>01 42 61 59 47</span>
									</li>
									<li>
										<a href='' class='button button-validate'>Contact</a>
									</li>
								</ul>
							</li>
							<li class='last'>
								<a href='{{ path('plans') }}' class='button button-attention'>Essai gratuit</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='row bottom-header'>
			<div class='column'>
				<div class='column-inner'>
					<a href='{{ path('index') }}' class='brand'>wisembly</a>
				</div>
			</div>
			<div class='column last'>
				<div class='column-inner'>
					<div class='navigation'>
						<ul class='list'>
							<li class='nav-classes-trainings'>
								<a href='{{ path('trainings') }}'>Pour les cours et formations</a>
							</li>
							<li class='nav-meetings-confcalls '>
								<a href='{{ path('meetings') }}'>Pour les réunions et conf-calls</a>
							</li>
							<li class='nav-events-seminaries'>
								<a href='{{ path('events') }}'>Pour les événements</a>
							</li>
							<li class='nav-case-studies'>
								<a href='{{ path('case-studies') }}'>Etudes de cas</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>