<div class='top-bar'>
	<div class='top-header'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<div class='contact-nav'>
							<ul class='list'>
								<li class='first'>
									<ul class='list contact-nav'>
										<li class='item'>
											<span class='item-text'>{{ 'contact_us_number' | trans({ '%number%': app.phone_number }) | raw }}</span>
										</li>
										<li class='item'>
											<div class='dropdown dropdown-borderless dropdown-lang'>
												<label class='dropdown-toggle' data-toggle='dropdown'>
													<img src='{{ asset("/static/images/flags/" ~ app['country'] ~ ".png") }}'>
												</label>
												<ul class='list dropdown-list'>
													{% if app['country'] != 'fr' %}
													<li>
														<a href='{{ app.host }}/fr/'>
															<img src='{{ asset("/static/images/flags/fr.png") }}'>
														</a>
													</li>
													{% endif %}
													{% if app['country'] != 'en' %}
													<li>
														<a href='{{ app.host }}/en/'>
															<img src='{{ asset("/static/images/flags/en.png") }}'>
														</a>
													</li>
													{% endif %}
													{% if app['country'] != 'it' %}
													<li>
														<a href='{{ app.host }}/it/'>
															<img src='{{ asset("/static/images/flags/it.png") }}'>
														</a>
													</li>
													{% endif %}
												</ul>
											</div>
										</li>
										<li class='item item-highlighted last'>
											<a href='{{ url('contact') }}' class='item-text'>{{ 'write_to_us' | trans }}</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='app-nav'>
							<ul class='list' data-name='header_tabs'>
								<li data-name='join_an_event'>
									<div class='dropdown'>
										<a href='#' class='dropdown-toggle tab_link'>{{ 'join_an_event' | trans }}</a>
										<div class='dropdown-bottom' data-name='dropdown'>
											<form class='join-event' data-status='active' data-validate='parsley' data-show-errors='false'>
												<div class='row'>
													<div class='column eight'>
														<div class='column-inner'>
																<div class='input-container'>
																	<input class='input' placeholder='{{ 'event_keyword' | trans }}' data-required='true' data-rangelength='[3,20]' data-type='alphanum' />
																	<span class='input-background'></span>
																</div>
														</div>
													</div>
													<div class='column four'>
														<div class='column-inner'>
															<button class='button'>
																<span class='button-text'>{{ 'join_event_button' | trans }}</span>
																<span class='button-processing'>...</span>
															</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</li>
								<li data-name='login'>
									<div class='dropdown'>
										<a href='#' class='dropdown-toggle tab_link'>{{ 'login' | trans }}</a>
										<div class='dropdown-bottom' data-name='dropdown'>
											<form action='https://app.wisembly.com/login_check' method='POST' target='_blank' class='login clearfix' data-status='none' data-validate='parsley' data-show-errors='false'>
												<div class='input-container'>
													<input name='_username' class='input email' placeholder='{{ 'email' | trans }}' data-required='true' data-type='email' />
													<span class='input-background'></span>
												</div>
												<div class='input-container'>
													<input name='_password' type='password' class='input password' placeholder='{{ 'password' | trans }}' data-required='true' data-rangelength='[4,20]' />
													<span class='input-background'></span>
												</div>
												<button class='button'>
													<span class='button-text'>{{ 'login_button' | trans }}</span>
													<span class='button-processing'>...</span>
												</button>
												<input type='hidden' name='_target_path' value='index' />
											</form>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row bottom-header'>
			<div class='column first'>
				<div class='column-inner'>
					<a href='{{ url('index') }}' class='brand'>Wisembly</a>
				</div>
			</div>
			<div class='column second'>
				<div class='column-inner'>
					<div class='navigation'>
						<ul class='list'>
							<li class='nav-classes-trainings'>
								<a href='{{ url('classes-trainings') }}'>{{ 'classes_an_trainings_menu_title' | trans }}</a>
							</li>
							<li class='nav-meetings-confcalls '>
								<a href='{{ url('meetings-confcalls') }}'>{{ 'meetings_and_confcalls_menu_title' | trans }}</a>
							</li>
							<li class='nav-events-seminaries'>
								<a href='{{ url('events-seminaries') }}'>{{ 'events_and_seminaries_menu_title' | trans }}</a>
							</li>
							<li class='nav-case-studies'>
								<a href='{{ url('case-studies') }}'>{{ 'case_studies_menu_title' | trans }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='column last'>
				<div class='column-inner'>
					<a href='{{ url('plans') }}' class='button button-attention button-small button-light'>{{ 'free_trial' | trans }}</a>
				</div>
			</div>
		</div>
	</div>
</div>