{% extends 'layouts/main.html.twig' %}

{# Load history DataSet #}
{% block history %}{% endblock %}

{% block body_class %}about{% endblock %}

{# SEO #}
{% set page = 'about' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='{{ asset("/static/images/about.jpg") }}'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'about_wisembly_page_title' | trans }}</span></h1>
				<h2><span>{{ 'about_wisembly_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<div class='history-stream'>
							<b class='history-stream-line'></b>

                            {% for history in app.history %}
                                <div class='history-item'>
    								<b class='history-item-dot'></b>
    								<div class='history-item-cover'>
    									<i class='history-item-background' style='background-image: url({{ history.image }})'></i>
    									<div class='history-item-id'>
    										<span class='history-item-date'>{{ history.date }}</span>
    										<h3 class='history-item-title'><span>{{ history.title }}</span></h3>
    									</div>
    								</div>
    								<div class='history-item-description'>
    									{{ history.description | raw }}
    								</div>
    							</div>
                            {% endfor %}

                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
