{% extends 'layouts/main.html.twig' %}

{# Load press DataSet #}
{% block press %}{% endblock %}

{% block body_class %}about-team{% endblock %}

{# SEO #}
{% set page = 'about_press' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/press.jpg'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'about_press_page_title' | trans }}</span></h1>
				<h2><span>{{ 'about_press_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<table class='press-list'>

                            {% for press in app.press | reverse %}
							<tr>
								<td class='src'>{{ press.support }}</td>
								<td class='date'>{{ press.date }}</td>
								<td class='title'>
								    {% if press.link is not none %}
								        <a href='{{ press.link }}'>{{ press.title }}</a>
								    {% else %}
								        {{ press.title }}
								    {% endif %}
								</td>
							</tr>
                            {% endfor %}

						</table>
						<div class='hero hey-press'>
							<div class='row'>
								<div class='column seven'>
									<div class='column-inner'>
										<p>{{ 'journalists_download_kit_title' | trans }}</p>
									</div>
								</div>
								<div class='column four last'>
									<div class='column-inner'>
										<a href='{{ path('resources') }}' class='button button-call'>{{ 'journalists_download_kit_button' | trans }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}