{% extends 'layouts/main.html.twig' %}

{# Load team DataSet #}
{% block team %}{% endblock %}

{% block body_class %}about-team{% endblock %}

{# SEO #}
{% set page = 'about_team' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/team.jpg'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'about_team_page_title' | trans }}</span></h1>
				<h2><span>{{ 'about_team_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<ul class='list team-list'>

                            {% for member in app.team %}
							<li>
								<div class='person'>
									<div class='img'>
										<img src='{{ asset(member.main_pic) }}'>
									</div>
									<div class='name'>{{ member.name }}</div>
									<div class='role'>{{ member.job }}</div>
								</div>
							</li>
                            {% endfor %}

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}