{% extends 'layouts/main.html.twig' %}

{% block body_class %}case-detail {{ case.slug }}{% endblock %}

{# automatically get case in app.set provided by slug in url #}
{% set case = app.set %}

{# SEO #}
{% set page = 'casestudies' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		{% if case.illustration_image %}
			<div class='header-background'>
				<img class='bg' src='{{ asset(case.illustration_image) }}'>
			</div>
		{% endif %}
		<div class='container'>
			<div class='id'>
				<h1><span>{{ case.title }}</span></h1>
			</div>
		</div>
	</div>
	<div class='breadcrumbs'>
		<div class='container'>
			<ul class='list'>
				<li class='first'>
    				<a href='{{ url('case-studies') }}'>{{ 'case_studies' | trans }}</a>
    			</li>
    			<li class='last'>
    				<a href='{{ url('case-detail', { slug: case.slug }) }}'>{{ case.client }}</a>
    			</li>
    		</ul>
    </div>
  </div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<h3>{{ 'case_context_title' | trans }}</h3>
					</div>
				</div>
				<div class='column seven last'>
					<div class='column-inner'>
						{{ case.context | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<h3>{{ 'case_usage_title' | trans }}</h3>
					</div>
				</div>
				<div class='column seven last'>
					<div class='column-inner'>
						{{ case.usage | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<h3>{{ 'case_results_title' | trans }}</h3>
					</div>
				</div>
				<div class='column seven last'>
					<div class='column-inner'>
						{{ case.results | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column eight centered'>
					<div class='comment'>
						<blockquote>{{ case.blockquote }}</blockquote>
						<p>{{ case.interviewed }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}