{% extends 'layouts/main.html.twig' %}

{% block body_class %}case-detail {{ case.slug }}{% endblock %}

{# automatically get case in app.set provided by slug in url #}
{% set case = app.set %}

{# SEO #}
{% set page = 'casestudies' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section page-headline'>
		<div class='container clearfix'>
			{% if case.illustration_image %}
				<img class='{{ case.illustration_type }} centered' src='{{ asset(case.illustration_image) }}' width='160'>
			{% endif %}
			<div class='id tac'>
				<h1>{{ case.title }}</h1>
			</div>
		</div>
	</div>
  	<div class='section page-body'>
  		<div class='container'>
  			<div class='row mbl'>
	  			<div class='column six'>
		  			<div class='column-inner'>
			  			<h3 class='hide'>Introduction</h3>
			  			<p>La SNCF utilise Wisembly pour animer le <strong>Tchat du Président</strong>, un <strong>management call mensuel du COMEX</strong> où sont présentés les résultats et orientations stratégiques aux 600 top managers.</p>
			  			<p>L'utilisation de Wisembly pour présenter des documents, recueillir les réactions des managers en direct, et réunir leurs avis a permis de multiplier par 50 leur engagement.</p>
			  		</div>
		  		</div>
				<div class='column six'>
					<div class='column-inner'>
						<div class='testimonial box'>
							<div class='box-body'>
								<blockquote class='testimonial-quote'>{{ case.blockquote }}</blockquote>
								<div class='testimonial-details media'>
									<div class='hd'>
										<img src='{{ case.blockquote_logo }}' class='testimonial-author-photo'>
									</div>
									<div class='bd testimonial-author'>
										<div class='testimonial-author-name'>{{ case.interviewed }}</div>
									</div>
								</div>
							</div>
						</div>
				  	</div>
				</div>
			</div>
			<div class='row mbl'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'case_context_title' | trans }}</h3>
						{{ case.context | raw }}
				  	</div>
				</div>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'case_usage_title' | trans }}</h3>
						{{ case.usage | raw }}
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='column twelve'>
					<div class='column-inner'>
						<h3>{{ 'case_results_title' | trans }}</h3>
						{{ case.results | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='pagination section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3 class='pull pagination-title'>{{ 'Discover how our other clients use Wisembly' | trans }}</h3>
						<a href='' class='button button-validate'>{{ 'Read the case studies' | trans }}</a>
					</div>
				</div>
				<div class='column seven'>
					<div class='column-inner'>
						<div class='push'>
							<a href='' class='box'>
								<div class='box-body'>
									<div class='client-logo'>
										<img src='http://corpo.wisembly.dev:8888//static/images/hec.png?v=43' class='client-logo-image'>
									</div>
								</div>
							</a>
							<a href='' class='box'>
								<div class='box-body'>
									<div class='client-logo'>
										<img src='http://corpo.wisembly.dev:8888//static/images/auchan.png?v=43' class='client-logo-image'>
									</div>
								</div>
							</a>
							<a href='' class='box'>
								<div class='box-body'>
									<div class='client-logo'>
										<img src='http://corpo.wisembly.dev:8888//static/images/auchan.png?v=43' class='client-logo-image'>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{# {% include 'includes/features/try-now.html.twig' %} #}
{% endblock %}