{% extends 'layouts/main.html.twig' %}

{# load cases DataSet #}
{% block cases %}{% endblock %}

{# Load testimonial DataSet #}
{% block cases_testimonials %}{% endblock %}

{# Load client DataSet #}
{% block cases_featured_client %}{% endblock %}

{% block body_class %}case-studies{% endblock %}

{# SEO #}
{% set page = 'casestudies' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section page-headline'>
		<div class='container'>
			<h1>{{ 'case_studies_global_page_title' | trans }}</h1>
			<h2>{{ 'case_studies_global_page_desc' | trans }}</h2>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				{% for case in app.cases %}
					<div class='column six'>
						<div class='column-inner'>
							<div class='box case case-{{ case.slug }}'>
								<div class='box-head'>
									<div class='case-logo'>
										<img class='case-logo-img' src='{{ asset(case.client_logo) }}'>
									</div>
								</div>
								<div class='box-body'>
									<h3 class='case-title'>{{ case.title }}</h3>
									<p class='case-comment-quote'>“{{ case.blockquote }}”</p>
									<div class='case-comment-author'>
										<img class='case-comment-author-photo' src='{{ case.blockquote_logo }}'>
										<div class='case-comment-author-name'>{{ case.interviewed }}</div>
									</div>
								</div>
								<div class='box-foot'>
									<a href='{{ url('case-detail', { slug: case.slug }) }}' class='button button-attention button-light'>{{ 'read_case_study_link' | trans }} {{ case.client }}</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h3 class='text-centered'>{{ "See what our other clients are saying" | trans }}</h3>
			<ul class='row list testimonials-grid'>
				{% for testimonial in app.cases_testimonials %}
					<li class='column six'>
						<div class='column-inner'>
							<div class='box'>
								<div class='box-body'>
									<div class='testimonial'>
										<blockquote class='testimonial-quote'>{{ testimonial.quote | raw }}</blockquote>
										<div class='testimonial-details clearfix'>
											<div class='media pull'>
												<div class='hd'>
													<img class='testimonial-author-photo' src='{{ asset(testimonial.picture) }}'>
												</div>
												<div class='bd testimonial-author'>
													<div class='testimonial-author-name'>{{ testimonial.name }}</div>
													<div class='testimonial-author-position'>{{ testimonial.title }}</div>
												</div>
											</div>
											<div class='push testimonial-company-logo-container'>
												<img class='testimonial-company-logo' src='{{ asset(testimonial.logo) }}'>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			<h3 class='text-centered'>{{ "Meet our 351 other equally lovely clients" | trans }}</h3>
			<ul class='row list clients-grid'>
				{% for client in app.cases_featured_client %}
					<li class='column three'>
						<div class='column-inner'>
							<div class='box'>
								<div class='box-body'>
									<div class='client-logo'>
										<a href='{{ url('clients') }}#{{ client.name|escape('url')|lower }}'>
											<img src='{{ asset(client.logo) }}' class='client-logo-image'>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
