{% extends 'layouts/main.html.twig' %}

{# load cases DataSet #}
{% block cases %}{% endblock %}

{% block body_class %}case-studies{% endblock %}

{# SEO #}
{% set page = 'casestudies' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/case-studies.jpg'>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='column twelve'>
					<div class='column-inner'>
						<div class='id'>
							<h1>
								<span>{{ 'case_studies_global_page_title' | trans }}</span>
							</h1>
							<h2>
								<span>{{ 'case_studies_global_page_desc' | trans }}</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  {% for case in app.cases %}
    <div class='section case-study case-study-{{ case.slug }}'>
	    	<div class='container'>
	    		<div class='row'>
	    			<div class='column six centered'>
	    				<div class='column-inner'>
	    					<div class='img'>
	    						<img src='{{ asset(case.client_logo) }}'>
	    					</div>
	    					<h3>{{ case.title }}</h3>
	    					<a href='{{ url('case-detail', { slug: case.slug }) }}'>{{ 'read_case_study_link' | trans }}</a>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
    	</div>
  {% endfor %}
{% endblock %}