{% extends 'layouts/main.html.twig' %}

{# load cases DataSet #}
{% block cases %}{% endblock %}

{% block body_class %}case-studies{% endblock %}

{% block content %}
	<div class='section header' style='background-image: url(http://i.istockimg.com/file_thumbview_approve/19293961/2/stock-photo-19293961-group-of-office-workers-in-a-boardroom-presentation.jpg)'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<h1>{{ 'case_studies_global_page_title' | trans }}</h1>
						<h2>{{ 'case_studies_global_page_desc' | trans }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% for case in app.cases %}
        <div class='section case-study case-study-{{ case.slug }}'>
    		<div class='container'>
    			<div class='row'>
    				<div class='column six centered'>
    					<div class='column-inner'>
    						<div class='img'>
    							<img src='{{ case.client_logo }}'>
    						</div>
    						<h3>{{ case.title }}</h3>
    						<a href='{{ path('case-detail', { slug: "la-poste"}) }}'>{{ 'read_case_study_link' | trans }}</a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    {% endfor %}
{% endblock %}