{% extends 'layouts/main.html.twig' %}

{# load features localization keys #}
{% block features_training %}{% endblock %}

{% block body_class %}classes-trainings{% endblock %}

{# SEO #}
{% set page = 'classes_trainings' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{%  block content %}
	<div class='section header' style='background-image: url(http://cdn2.stocksy.com/a/t1K000/z0/76997.jpg);'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'classes_trainings_title' | trans }}</span></h1>
							<h2><span>{{ 'classes_trainings_desc1' | trans }}</span></h2>
							<h2><span>{{ 'classes_trainings_desc2' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section features-list'>
		<div class='container'>
			<ul class='list'>
				<li class='one first'>
					<a href='{{ path('classes-trainings') }}#documents-management'>
						<i class='picto picto-documents-management'></i>
						<span class='medium'>{{ 'documents_management_link' | trans }}</span>
					</a>
				</li>
				<li class='two'>
					<a href='{{ path('classes-trainings') }}#students-evaluation'>
						<i class='picto picto-students-evaluation'></i>
						<span class='medium'>{{ 'students_evaluation_link' | trans }}</span>
					</a>
				</li>
				<li class='three'>
					<a href='{{ path('classes-trainings') }}#trainings-evaluation'>
						<i class='picto picto-trainings-evaluation'></i>
						<span class='medium'>{{ 'trainings_evaluation_link' | trans }}</span>
					</a>
				</li>
				<li class='four'>
					<a href='{{ path('classes-trainings') }}#quizzes'>
						<i class='picto picto-quiz'></i>
						<span class='short'>{{ 'quiz_link' | trans }}</span>
					</a>
				</li>
				<li class='five'>
					<a href='{{ path('classes-trainings') }}#qa'>
						<i class='picto picto-qa'></i>
						<span class='short'>{{ 'qna_link' | trans }}</span>
					</a>
				</li>
				<li class='six'>
					<a href='{{ path('classes-trainings') }}#stats-reporting'>
						<i class='picto picto-stats-reporting'></i>
						<span class='medium'>{{ 'stats_reporting_link' | trans }}</span>
					</a>
				</li>
				<li class='seven'>
					<a href='{{ path('classes-trainings') }}#multi-devices'>
						<i class='picto picto-multi-devices'></i>
						<span class='short'>{{ 'multi_devices_link' | trans }}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section documents-management' id='documents-management'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'documents_management_title' | trans }}</h3>
						<p>{{ 'documents_management_desc' | trans }}</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section students-evaluation' id='students-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3><span>{{ 'students_evaluation_title' | trans }}</span></h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section training-evaluation' id='trainings-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'training_evaluation_title' | trans }}</h3>
						{{ 'training_evaluation_desc' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section quizzes' id='quizzes'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'quizzes_title' | trans }}</h3>
						<p>{{ 'quizzes_desc' | trans }}</p>
					</div>
				</div>
				<div class='column five last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-window'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class="app-logo">wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quiz-demo'>
											<h4 class='quiz-title'> {{ 'training_poll_title' | trans }} </h4>
											<div data-name='quiz-demo-form'>
												<div class="frame frame-loading hide">
	                          <div class="overlay"></div>
	                          <i class="icon-asterisk icon-spin icon-2x"></i>
	                      </div>
												<label class='choice' for='quiz_choice_1'>
													<input type='radio' id='quiz_choice_1' name='quiz' />
													<i class='target'></i>
													<span>{{ 'training_poll_choice_1' | trans }}</span>
												</label>
												<label class='choice' for='quiz_choice_2'>
													<input type='radio' id='quiz_choice_2' name='quiz' />
													<i class='target'></i>
													<span>{{ 'training_poll_choice_2' | trans }}</span>
												</label>
												<label class='choice' for='quiz_choice_3'>
													<input type='radio' id='quiz_choice_3' name='quiz' />
													<i class='target'></i>
													<span>{{ "training_poll_choice_3" | trans }}</span>
												</label>
												<button
													class='button button-default'
													data-reset-text='{{ 'poll_button_submit' | trans }}'
                          data-sending-text='{{ 'poll_button_sending' | trans }}'
                          data-sent-text='{{ 'poll_button_sent' | trans }}'>
													{{ 'poll_button_submit' | trans }}
												</button>
											</div>
											<div data-name='quiz-demo-results' class='hide frame'>
												<ul class='list results'>
													<li class='even'>
                             <div class='result'>
                                 <span class='text'>{{ 'training_poll_choice_1' | trans }}</span>
                                 <span class='value'>55%</span>
                                 <span class='progress'>
                                     <span class='progress-bar' style='width: 55%'></span>
                                 </span>
                             </div>
													</li>
                         <li class='even'>
                             <div class='result'>
                                 <span class='text'>{{ 'training_poll_choice_2' | trans }}</span>
                                 <span class='value'>35%</span>
                                 <span class='progress'>
                                     <span class='progress-bar' style='width: 35%'></span>
                                 </span>
                             </div>
                         </li>
                         <li class='even'>
                             <div class='result'>
                                 <span class='text'>{{ "training_poll_choice_3" | trans }}</span>
                                 <span class='value'>10%</span>
                                 <span class='progress'>
                                     <span class='progress-bar' style='width: 10%'></span>
                                 </span>
                             </div>
                         </li>
                      </ul>
                      <div class='total'>
                          <i class='icon-person icon'></i>
                          <span class='total-count'>12</span>
                          <span class='total-label'>{{ 'participants' | trans }}</span>
                      </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section q-a' id='qa'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'qna_title' | trans }}</h3>
						{{ 'qna_desc' | trans | raw }}
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-window' data-name='quotes_list'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class='app-logo'>wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quote-box'>
											<div class='textarea-container'>
												<textarea placeholder='{{ 'stream_textarea_placeholder' | trans }}'></textarea>
												<div class='textarea-mirror'></div>
											</div>
										</div>
										<div class='quotes-stream'>
											<ul class='list'>
												<li class="auto">
													<span class='quote-text'>training_stream_item_1_text</span>
													<span class='quote-author'>training_stream_item_1_author</span>
												</li>
												<li class="auto">
													<span class='quote-text'>training_stream_item_2_text</span>
													<span class='quote-author'>training_stream_item_2_author</span>
												</li>
												<li class="auto">
													<span class='quote-text'>training_stream_item_3_text</span>
													<span class='quote-author'>training_stream_item_3_author</span>
												</li>
												<li class="auto">
													<span class='quote-text'>training_stream_item_4_text</span>
													<span class='quote-author'>training_stream_item_4_author</span>
												</li>
												<li class="auto">
													<span class='quote-text'>training_stream_item_5_text</span>
													<span class='quote-author'>training_stream_item_5_author</span>
												</li>
												<li class="manual" data-name='user-quote-tpl'>
													<span class='quote-text'></span>
													<span class='quote-author'>{{ 'you' | trans }}</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section stats-reporting' id='stats-reporting'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'stats_reporting_title' | trans }}</h3>
			<i class='illustration'>
				<img src='/static/images/illustrations/stats-reporting.png' />
			</i>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<p>{{ 'stats_reporting_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column six'>
					<div class='column-inner'>
						{{ 'stats_reporting_desc2' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section multi-device' id='multi-devices'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'multi_device_title' | trans }}</h3>
			<div class='illustration'>
				<img src='/static/images/illustrations/devices.png'>
			</div>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>{{ 'multi_device_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'multi_device_desc2' | trans | raw }}
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<p>{{ 'multi_device_desc3' | trans }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}