{% extends 'layouts/main.html.twig' %}

{# load features localization keys #}
{% block features_training %}{% endblock %}

{% block body_class %}classes-trainings{% endblock %}

{%  block content %}
	<div class='section header' style='background-image: url(http://cdn2.stocksy.com/a/t1K000/z0/76997.jpg);'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'classes_trainings_title' | trans }}</span></h1>
							<h2><span>{{ 'classes_trainings_desc1' | trans }}</span></h2>
							<h2><span>{{ 'classes_trainings_desc2' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section features-list'>
		<div class='container'>
			<ul class='list'>
				<li class='one first'>
					<a href='#documents-management'>
						<i class='picto picto-documents-management'></i>
						<span class='medium'>{{ 'documents_management_link' | trans }}</span>
					</a>
				</li>
				<li class='two'>
					<a href='#quiz'>
						<i class='picto picto-students-evaluation'></i>
						<span class='medium'>{{ 'students_evaluation_link' | trans }}</span>
					</a>
				</li>
				<li class='three'>
					<a href='#'>
						<i class='picto picto-trainings-evaluation'></i>
						<span class='medium'>{{ 'trainings_evaluation_link' | trans }}</span>
					</a>
				</li>
				<li class='four'>
					<a href='#quizzes'>
						<i class='picto picto-quiz'></i>
						<span class='short'>{{ 'quiz_link' | trans }}</span>
					</a>
				</li>
				<li class='five'>
					<a href='#'>
						<i class='picto picto-qa'></i>
						<span class='short'>{{ 'qna_link' | trans }}</span>
					</a>
				</li>
				<li class='six'>
					<a href='#'>
						<i class='picto picto-stats-reporting'></i>
						<span class='medium'>{{ 'stats_reporting_link' | trans }}</span>
					</a>
				</li>
				<li class='seven'>
					<a href='#'>
						<i class='picto picto-multi-devices'></i>
						<span class='short'>{{ 'multi_devices_link' | trans }}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section documents-management' id='documents-management'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'documents_management_title' | trans }}</h3>
						<p>{{ 'documents_management_desc' | trans }}</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='browser hide'>
							<div class='browser-bar'>
								<span>http://app.wisembly.com/demo</span>
							</div>
							<div class='browser-window'>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section students-evaluation' id='students-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3><span>{{ 'students_evaluation_title' | trans }}</span></h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'students_evaluation_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section training-evaluation' id='training-evaluation'>
		<div class='container'>
			<div class='row'>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'training_evaluation_title' | trans }}</h3>
						{{ 'training_evaluation_desc' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section quizzes' id='quizzes'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'quizzes_title' | trans }}</h3>
						<p>{{ 'quizzes_desc' | trans }}</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='quiz-demo'>
							<h4 class='quiz-title'>Would you like to try this?</h4>
							<div class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>Yes</span>
							</div>
							<label class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>No</span>
							</label>
							<label class='choice'>
								<input type='radio' />
								<i class='target'></i>
								<span>I'm not sure just yet.</span>
							</label>
							<button class='button button-default'>Envoyer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section q-a' id='q-a'>
		<div class='container'>
			<h3>{{ 'qna_title' | trans }}</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'qna_desc' | trans | raw }}
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-bar'>
								<span>http://app.wisembly.com/demo</span>
							</div>
							<div class='browser-window' data-name='quotes_list'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class='app-logo'>wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quote-box'>
											<div class='textarea-container'>
												<textarea placeholder='What is your question ?'></textarea>
												<div class='textarea-mirror'></div>
											</div>
											<button class='button'>Send</button>
										</div>
										<div class='quotes-stream'>
											<ul class='list'>
												<li>
													<span class='quote-text'>Aliquam erat volutpat. Nulla libero lectus.</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
												<li>
													<span class='quote-text'>Is this going to be forever?</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
												<li>
													<span class='quote-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec purus in ante pretium blandit. Aliquam erat volutpat. Nulla libero lectus.</span>
													<span class='quote-author'>Ben at the dentist</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section stats-reporting' id='stats-reporting'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'stats_reporting_title' | trans }}</h3>
			<i class='illustration'>
				<img src='/static/images/illustrations/stats-reporting.png' />
			</i>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<p>{{ 'stats_reporting_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column six'>
					<div class='column-inner'>
						{{ 'stats_reporting_desc2' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section multi-device' id='multi-device'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'multi_device_title' | trans }}</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>{{ 'multi_device_desc1' | trans }}</p>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'multi_device_desc2' | trans | raw }}
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<p>{{ 'multi_device_desc3' | trans }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}