{% extends 'layouts/main.html.twig' %}

{# load features localization keys #}
{% block features_training %}{% endblock %}

{% block body_class %}classes-trainings{% endblock %}

{# SEO #}
{% set page = 'classes_trainings' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section odd header'>
		<div class='header-background'>
			<img class='bg' src='{{ asset("/static/images/wallpapers/trainings.jpg") }}'>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='column twelve'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'classes_trainings_title' | trans }}</span></h1>
							<h2><span>{{ 'classes_trainings_desc1' | trans }}</span></h2>
							<h2><span>{{ 'classes_trainings_desc2' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='features-list-container'>
		<div class='section even features-list' data-spy='affix' data-offset-top='460'>
			<div class='container spy-list'>
				<ul class='nav list'>
					<li class='one first active'>
						<a href='{{ app.request.uri }}#documents-management' 	class='scroll' 	data-target='#documents-management'>
							<i class='picto picto-documents-management'></i>
							<span class='medium'>{{ 'documents_management_link' | trans }}</span>
						</a>
					</li>
					<li class='two'>
						<a href='{{ app.request.uri }}#students-evaluation' 	class='scroll' 	data-target='#students-evaluation'>
							<i class='picto picto-students-evaluation'></i>
							<span class='medium'>{{ 'students_evaluation_link' | trans }}</span>
						</a>
					</li>
					<li class='three'>
						<a href='{{ app.request.uri }}#trainings-evaluation' 	class='scroll' 	data-target='#trainings-evaluation'>
							<i class='picto picto-trainings-evaluation'></i>
							<span class='medium'>{{ 'trainings_evaluation_link' | trans }}</span>
						</a>
					</li>
					<li class='four'>
						<a href='{{ app.request.uri }}#quizzes' 				class='scroll' 	data-target='#quizzes'>
							<i class='picto picto-quiz' class='scroll'></i>
							<span class='short'>{{ 'quiz_link' | trans }}</span>
						</a>
					</li>
					<li class='five'>
						<a href='{{ app.request.uri }}#qa' 						class='scroll' 	data-target='#qa'>
							<i class='picto picto-qa' class='scroll'></i>
							<span class='short'>{{ 'qna_link' | trans }}</span>
						</a>
					</li>
					<li class='six'>
						<a href='{{ app.request.uri }}#stats-reporting' 		class='scroll' 	data-target='#stats-reporting'>
							<i class='picto picto-stats-reporting'></i>
							<span class='medium'>{{ 'stats_reporting_link' | trans }}</span>
						</a>
					</li>
					<li class='seven'>
						<a href='{{ app.request.uri }}#multi-devices' 			class='scroll' 	data-target='#multi-devices'>
							<i class='picto picto-multi-devices'></i>
							<span class='short'>{{ 'multi_devices_link' | trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
    {% include 'includes/features/trainings/documents-management.html.twig' %}
    {% include 'includes/features/trainings/students-evaluation.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
    {% include 'includes/features/trainings/trainings-evaluation.html.twig' %}
    {% include 'includes/features/trainings/quizzes.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
    {% include 'includes/features/trainings/qna.html.twig' %}
    {% include 'includes/features/trainings/stats-reporting.html.twig' %}
    {% include 'includes/features/trainings/multi-devices.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
{% endblock %}