{% extends 'layouts/main.html.twig' %}

{# Load client DataSet #}
{% block client %}{% endblock %}
{% block client_category %}{% endblock %}

{% block body_class %}our-clients{% endblock %}

{# SEO #}
{% set page = 'clients' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
  <div class='section header'>
    <div class='header-background'>
      <img class='bg' src='{{ asset("/static/images/wallpapers/contact.jpg") }}'>
    </div>
    <div class='container'>
      <div class='id'>
        <h1><span>{{ 'clients_page_title' | trans }}</span></h1>
        <h2><span>{{ 'clients_page_desc' | trans }}</span></h2>
      </div>
    </div>
  </div>
  {% for category in app.client_category %}
    <div class='section'>
      <div class='container'>
        <h3>{{ category.name | trans }}</h3>
        <ul class="list horizontal-list clients-list row">
        
        {% for client in app.client %}
          {% if client.client_category_id == category.id %}
            <div class='column two'>
              <div class='column-inner'>
                <a href="{{ client.url }}" target="_blank" rel="tooltip" class="img-container" id='{{ client.name|escape('url')|lower }}'>
                    <img src="{{ client.logo }}" alt="{{ client.name }}">
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
        </ul>
      </div>
    </div>
  {% endfor %}
{% endblock %}
