{% extends 'layouts/main.html.twig' %}

{# load features localization keys #}
{% block features_event %}{% endblock %}

{% block body_class %}events-seminaries{% endblock %}

{# SEO #}
{% set page = 'events_seminaries' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section odd header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/events.jpg'>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='column twelve'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'event_seminaries_title' | trans }}</span></h1>
							<h2><span>{{ 'event_seminaries_desc' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="features-list-container">
		<div class='section even features-list' data-spy='affix' data-offset='460'>
			<div class='container spy-list'>
				<ul class='nav list list-eight'>
					<li class='one first active'>
						<a href='#audience-participation' class='scroll'>
							<i class='picto picto-participation'></i>
							<span class='medium'>{{ 'qna_link' | trans }}</span>
						</a>
					</li>
					<li class='two'>
						<a href='#moderation' class='scroll'>
							<i class='picto picto-moderation'></i>
							<span class='short'>{{ 'moderation_link' | trans }}</span>
						</a>
					</li>
					<li class='three'>
						<a href='#comments' class='scroll'>
							<i class='picto picto-qa'></i>
							<span>{{ 'question_answers_link' | trans }}</span>
						</a>
					</li>
					<li class='four'>
						<a href='#vote' class='scroll'>
							<i class='picto picto-votes'></i>
							<span class='short'>{{ 'votes_link' | trans }}</span>
						</a>
					</li>
					<li class='five'>
						<a href='#fullscreen' class='scroll'>
							<i class='picto picto-fullscreen'></i>
							<span class='short'>{{ 'fullscreen_link' | trans }}</span>
						</a>
					</li>
					<li class='six'>
						<a href='#satisfaction-study' class='scroll'>
							<i class='picto picto-satisfaction-study'></i>
							<span class='medium'>{{ 'feedback_survey_link' | trans }}</span>
						</a>
					</li>
					<li class='seven'>
						<a href='#stats-reporting' class='scroll'>
							<i class='picto picto-stats-reporting'></i>
							<span class='medium'>{{ 'interaction_analysis_link' | trans }}</span>
						</a>
					</li>
					<li class='eight'>
						<a href='#multi-devices' class='scroll'>
							<i class='picto picto-multi-devices'></i>
							<span class='medium'>{{ 'multi_devices_link' | trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
    {% include 'includes/features/events/audience-participation.html.twig' %}
    {% include 'includes/features/events/moderation.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
    {% include 'includes/features/events/comments.html.twig' %}
    {% include 'includes/features/events/vote.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
    {% include 'includes/features/events/fullscreen.html.twig' %}
    {% include 'includes/features/events/satisfaction-study.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
    {% include 'includes/features/events/stats-reporting.html.twig' %}
    {% include 'includes/features/events/multi-devices.html.twig' %}
    {% include 'includes/features/try-now.html.twig' %}
{% endblock %}