{% extends 'layouts/main.html.twig' %}

{% block body_class %}events{% endblock %}

{# Load events DataSet #}
{% block events %}{% endblock %}


{# SEO #}
{% set page = 'events' %}
{% block meta %}{% endblock %}

{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
  <div class='section header'>
    <div class='header-background'>
      <img class='bg' src='{{ asset("/static/images/jobs.jpg") }}'>
    </div>
    <div class='container'>
      <div class='id'>
        <h1><span>{{ 'events' | trans }}</span></h1>
        <h2><span>{{ 'events_baseline' | trans }}</span></h2>
      </div>
    </div>
  </div>
  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='column three'>
          <ul class='list about-navigation'>
            <li>
              <a href='#' class="event-filter" data-filter="breakfast">{{ 'events_breakfasts' | trans }}</a>
            </li>
            <li>
              <a href='#' class="event-filter" data-filter="afterwork">{{ 'events_afterworks' | trans }}</a>
            </li>
            <li>
              <a href='#' class="event-filter" data-filter="webinar">{{ 'events_webinars' | trans }}</a>
            </li>
            <li>
              <a href='#' class="event-filter" data-filter="passed">{{ 'events_passed' | trans }}</a>
            </li>
          </ul>
        </div>
        <div class='column nine last'>
          <div class='column-inner'>

            <div class='history-stream'>
              <b class='history-stream-line'></b>

              {% for event in app.events %}
                <div class='history-item {{ event.type }} {% if loop.last %}last{% endif %}'>
                  <b class='history-item-dot'></b>
                  <h2 class='calendar-item-title'>{{ event.title }}</h2>
                  <div class='calendar-item-date type-light clearfix mbm'>
                    <div class='calendar-item-day pull'><i class='icon icon-calendar' style='display:inline-block'></i>{{ event.date }}</div>
                    <div class='calendar-item-time push'><i class='icon icon-time' style='display:inline-block'></i>{{ event.time }}</div>
                  </div>
                  {% if event.address %}
                  <div class='calendar-item-address type-light'><i class='icon icon-map-marker' style='display:inline-block'></i>{{ event.address }}</div>
                  {% endif %}
                  <div class='row'>
                    <div class='column nine'>
                      <div class='column-inner'>
                        <p class='calendar-item-description mbl'>{{ event.description }}</p>
                      </div>
                    </div>
                    {% if event.type != 'passed' %}
                      {% if event.url %}
                        <div class='column three'>
                          <div class='column-inner'>
                            <a href='{{ event.url }}' class='button button-call mtm'>{{ 'is_interested' | trans }}</a>
                          </div>
                        </div>
                      {% endif %}
                    {% else %}
                      {% if event.url %}
                        <div class='column three'>
                          <div class='column-inner'>
                            <a href='{{ event.url }}' class='button button-validate mtm'>{{ 'read_summary' | trans }}</a>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
