{% extends 'layouts/main.html.twig' %}

{% block body_class %}events-seminaries{% endblock %}

{%  block content %}
	<div class='section header' style='background-image: url(http://farm5.staticflickr.com/4111/5077272375_8738bc6f3d_b.jpg);'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>Faites participer votre public</span></h1>
							<h2><span>Wisembly donne la parole à tous les participants de votre séminaire. Collectez toutes les questions et répondez mieux à leurs attentes !</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section features-list'>
		<div class='container'>
			<ul class='list list-eight'>
				<li class='one first'>
					<a href='#schedule'>
						<i class='picto'></i>
						<span>Questions & commentaires</span>
					</a>
				</li>
				<li class='two'>
					<a href='#quiz'>
						<i class='picto'></i>
						<span>Modération</span>
					</a>
				</li>
				<li class='three'>
					<a href='#'>
						<i class='picto'></i>
						<span>Réponses aux questions</span>
					</a>
				</li>
				<li class='four'>
					<a href='#quizzes'>
						<i class='picto'></i>
						<span>Votes</span>
					</a>
				</li>
				<li class='five'>
					<a href='#'>
						<i class='picto'></i>
						<span>Fullscreen</span>
					</a>
				</li>
				<li class='six'>
					<a href='#'>
						<i class='picto'></i>
						<span>Enquête de satisfaction</span>
					</a>
				</li>
				<li class='seven'>
					<a href='#'>
						<i class='picto'></i>
						<span>Analyse des interactions</span>
					</a>
				</li>
				<li class='eight'>
					<a href='#'>
						<i class='picto'></i>
						<span>Multi-devices</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Laissez s’exprimer votre public</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									<p>Sans vous interrompre, de manière anonyme ou non, le public peut partager ses questions et ses réactions avec son téléphone mobile.</p>
									<p>Nous avons participé à beaucoup d’événements avant de concevoir Wisembly, comme nous, vous devez en avoir marre des timides qui n’osent pas poser de questions ou de ceux qui monopolisent le micro pendant de longues minutes...</p>
								</div>
							</div>
							<div class='column six last'>
								<div class='column-inner'>
									<p>Avec Wisembly, tout le monde peut s’exprimer, c’est vous qui selectionnez les meilleures questions.</p>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<h3>Modérez les messages du public</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>Si vous le souhaitez, vous pouvez modérer les messages du public à priori. Dans ce cas, seules les messages que vous validez seront publiés. Vous pouvez également modérer les messages a posteriori si vous changez d’avis.</p>
					</div>
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column eight'>
					<div class='column-inner'>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<h3>Continuez le dialogue avec votre audience</h3>
						<p>Vous n’aurez sûrement pas le temps de répondre à toutes les questions de l’audience durant le séminaire. Pourquoi ne pas répondre au questions directement sur Wisembly? Au fur et à mesure ou après l’événement, vous continuez ainsi le dialogue avec votre public et répondez totalement à leurs attentes.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<h3>Oubliez les boîtiers de vote!</h3>
						<p>Vous avez l’habitude de distribuer des boîtiers de vote à vos participants ? Vous vous occupez de la location, de la caution, de la distribution ? Passez au numérique et permettez enfin à votre public d’utiliser l’appareil qu’ils ont déjà dans la poche. C’est beaucoup plus simple, moins cher et résolument plus moderne !</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>Affichez un écran 100% interactif</h3>
						<p>Afficher les messages du public en salle permet de booster les interactions tout en mettant en valeur les réactions de l’audience. Vous pouvez jongler entre les slides et les questions, choisir le mode d’affichage et personnaliser les couleurs et le logo de votre écran.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Améliorez vos événements au fur et à mesure</h3>
						<p>Wisembly intègre un editeur d’enquête de satisfaction qui vous permet de collecter du feedback à tout moment directement via notre plateforme. Contrairement aux questionnaires “papier” ou aux mails envoyés après coup, les enquêtes de satisfaction Wisembly vous assure d’un taux de réponse maximum.</p>
						<p>Collectez du feedback à chaque événement et suivez l’évolution sur Wisembly afin d’adapter au mieux le contenu aux attentes du public.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<h3 class='text-centered'>Visualisez le contenu de votre événement</h3>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<p>Après chaque événement, Wisembly compile et analyse toute vos données: questions, commentaires, votes, nombre de participants, nuage de mots etc.</p>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<p>Depuis cette interface graphique, vous pourrez visualiser les faits marquants de votre événement et les exporter sous différents formats.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<h3 class='text-centered'>Wisembly marche partout. Point.</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>Pourquoi changer les habitudes de votre public en leur distribuant des boîtiers ou autres appareils encombrant?</p>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<p>Web, mobile, tablette, Twitter, email, SMS...</p>
						<p>Wisembly fonctionne depuis tous les appareils nés après le minitel.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<p>L’audience peuvent utiliser le device avec lequel il se sent à l’aise c’est à dire celui qui est déjà dans leur poche.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}