{% extends 'layouts/main.html.twig' %}

{% block body_class %}events{% endblock %}

{# Load events DataSet #}
{% block events %}{% endblock %}


{# SEO #}
{% set page = 'events' %}
{% block meta %}{% endblock %}

{#
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}
#}

{% block content %}
  <div class='section header'>
    <div class='header-background'>
      <img class='bg' src='{{ asset("/static/images/jobs.jpg") }}'>
    </div>
    <div class='container'>
      <div class='id'>
        <h1><span>Evénements</span></h1>
        <h2><span>Rejoignez-nous pour nos évenements</span></h2>
      </div>
    </div>
  </div>
  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='column three'>
          <ul class='list about-navigation'>
            <li>
              <a href='#' class="event-filter" data-filter="breakfast">{{ 'Breakfasts' | trans }}</a>
            </li>
            <li>
              <a href='#' class="event-filter" data-filter="afterwork">{{ 'Afterworks' | trans }}</a>
            </li>
            <li>
              <a href='#' class="event-filter" data-filter="webinar">{{ 'Webinars' | trans }}</a>
            </li>
          </ul>
        </div>
        <div class='column nine last'>
          <div class='column-inner'>

            <div class='history-stream'>
              <b class='history-stream-line'></b>

              {% for event in app.events %}
                <div class='history-item {{ event.type }}'>
                  <b class='history-item-dot'></b>
                  <h2 class='calendar-item-title'>{{ event.title }}</h2>
                  <div class='calendar-item-date type-light clearfix'>
                    <div class='calendar-item-day pull'><i class='icon icon-calendar' style='display:inline-block'></i>{{ event.date }}</div>
                    <div class='calendar-item-time push'><i class='icon icon-time' style='display:inline-block'></i>{{ event.time }}</div>
                  </div>
                  {% if event.address %}
                  <div class='calendar-item-address type-light pvm'><i class='icon icon-map-marker' style='display:inline-block'></i>{{ event.address }}</div>
                  {% endif %}
                  <div class='calendar-item-description mbl'>{{ event.description }}</div>
                  <a href='{{ event.url }}' class='button mbl'>{{ 'im_interested' | trans }}</a>
                </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
