{% extends 'layouts/main.html.twig' %}

{# load homepage localization keys #}
{% block homepage %}{% endblock %}

{% block body_class %}frontpage{% endblock %}

{# SEO #}
{% set page = 'index' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
    <div class='section headline' id='headline'>
        <div class='container'>
            <div class='center-vertical'>
                <div class='row'>
                    <div class='row-bump'>
                        <a href='{{ app.request.uri }}#clients' class='scroll jump-after-fold' data-offset='0'>
                            <i class='picto down-chevron first'></i>
                            <i class='picto down-chevron last'></i>
                            <span>{{ 'discover_our_happy_clients' | trans | raw }}</span>
                        </a>
                        <div class='column five'>
                            <div class='column-inner'>
                                <h1>{{ 'homepage_title' | trans }}</h1>
                                <h2><span>{{ 'homepage_baseline' | trans }}</span></h2>
                                <div class='try-me'>
                                    <div class='try-me-label'>{{ 'discover_wisembly_for' | trans }}</div>
                                    <ul class='list try-me-choices'>
                                        <li class='first'>
                                            <a id="hp-feature-training" href='{{ url('classes-trainings') }}'>
                                                {{ 'formations' | trans }}
                                            </a>
                                        </li>
                                        <li class='second'>
                                            <a id="hp-feature-meeting" href='{{ url('meetings-confcalls') }}'>
                                                {{ 'meetings' | trans }}
                                            </a>
                                        </li>
                                        <li class='last'>
                                            <a id="hp-feature-event" href='{{ url('events-seminaries') }}'>
                                                {{ 'events' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='column six last'>
                            <div class='column-inner'>
                                <div class='row' data-name='home-browsers-loop'>
                                    <div class='column six'>
                                        <div class='column-inner'>
                                            <div class='browser-wrapper first'>
                                                <div class='browser' data-name="browser-organizer">
                                                    <div class='browser-window'>
                                                        <div class='app'>
                                                            <div class='app-header'>
                                                                <div class='app-logo'>wisembly</div>
                                                            </div>
                                                            <div class='app-body'>
                                                                <div class="frame frame-loading hide">
                                                                    <div class='frame-inner'>
                                                                        <div class="overlay"></div>
                                                                        <div class='loading'></div>
                                                                    </div>
                                                                </div>
                                                                <div class='frame frame-poll'>
                                                                    <div class='frame-inner'>
                                                                     <h5>{{ 'homepage_poll_question' | trans }}</h5>
                                                                     <ul class='list results'>
                                                                        <li class='even'>
                                                                            <div class='result' data-name='result-1'>
                                                                                <span class='text'>{{ 'homepage_poll_choice_1' | trans }}</span>
                                                                                <span class='value'>20%</span>
                                                                                <span class='progress'>
                                                                                    <span class='progress-bar' style='width: 20%'></span>
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class='even'>
                                                                            <div class='result' data-name='result-2'>
                                                                                <span class='text'>{{ 'homepage_poll_choice_2' | trans }}</span>
                                                                                <span class='value'>50%</span>
                                                                                <span class='progress'>
                                                                                    <span class='progress-bar' style='width: 50%'></span>
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                        <li class='even'>
                                                                            <div class='result'  data-name='result-3'>
                                                                                <span class='text'>{{ 'homepage_poll_choice_3' | trans }}</span>
                                                                                <span class='value'>0%</span>
                                                                                <span class='progress'>
                                                                                    <span class='progress-bar' style='width: 0%'></span>
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                     </ul>
                                                                     <div class='total'>
                                                                         <i class='icon-person icon'></i>
                                                                         <span class='total-count'>12</span>
                                                                         <span class='total-label'>{{ 'participants' | trans }}</span>
                                                                     </div>
                                                                     </div>
                                                                 </div>
                                                                <div class='frame frame-doc hide'>
                                                                    <div class='frame-inner'>
                                                                    <ul class='list slides'>
                                                                        <li class="slide">
                                                                            <img src="{{ asset("/static/images/slides/1.png") }}">
                                                                        </li>
                                                                        <li class="slide">
                                                                            <img src="{{ asset("/static/images/slides/2.png") }}">
                                                                        </li>
                                                                        <li class="slide">
                                                                            <img src="{{ asset("/static/images/slides/3.png") }}">
                                                                        </li>
                                                                    </ul>
                                                                    <div data-name="player_controls" class="row controls">
                                                                        <div class="column two">
                                                                            <div class="column-inner controls-progress-count">
                                                                                <span data-name='controls-progress-count'>1</span>/3
                                                                            </div>
                                                                        </div>
                                                                        <div class="column seven">
                                                                            <div class="column-inner progress-bar-container">
                                                                                <div class="progress-bar">
                                                                                    <div class="progress-bar-value" data-name='progress-bar-value' style="width:34%"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="column two">
                                                                            <div class="column-inner controls-progress-stop">
                                                                                <i class="icon icon-eject"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class='mouse'></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class='browser-bottom'>{{ 'organizer' | trans }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='column six'>
                                        <div class='column-inner'>
                                            <div class='browser-wrapper last'>
                                                <div class='browser' data-name="browser-participant">
                                                    <div class='browser-window'>
                                                        <div class='app'>
                                                            <div class='app-header'>
                                                                <div class='app-logo'>wisembly</div>
                                                            </div>
                                                            <div class='app-body'>
                                                                <div class="frame frame-loading hide">
                                                                    <div class="overlay"></div>
                                                                    <div class='loading'></div>
                                                                </div>
                                                                <div class='frame frame-poll'>
                                                                    <div class='frame-inner'>
                                                                        <div class='participant-poll'>
                                                                           <h5>{{ 'homepage_poll_question' | trans }}</h5>
                                                                            <ul class='list choices'>
                                                                               <li class='even'>
                                                                                   <div class='choice one'>
                                                                                       <span class='radio'></span>
                                                                                       <span class='text'>{{ 'homepage_poll_choice_1' | trans }}</span>
                                                                                   </div>
                                                                               </li>
                                                                               <li class='even'>
                                                                                   <div class='choice two'>
                                                                                       <span class='radio'></span>
                                                                                       <span class='text'>{{ 'homepage_poll_choice_2' | trans }}</span>
                                                                                   </div>
                                                                               </li>
                                                                               <li class='even'>
                                                                                   <div class='choice three'>
                                                                                       <span class='radio'></span>
                                                                                       <span class='text'>{{ 'homepage_poll_choice_3' | trans }}</span>
                                                                                   </div>
                                                                               </li>
                                                                           </ul>
                                                                           <span
                                                                               href=''
                                                                               class='button button-validate'
                                                                               data-reset-text="{{ 'poll_button_submit' | trans }}"
                                                                               data-sending-text="{{ 'poll_button_sending' | trans }}"
                                                                               data-sent-text="{{ 'poll_button_sent' | trans }}">
                                                                                   {{ 'poll_button_submit' | trans }}
                                                                           </span>
                                                                           <div class='mouse'></div>
                                                                        </div>
                                                                   </div>
                                                                </div>
                                                                <div class='frame frame-doc hide'>
                                                                    <div class='frame-inner'>
                                                                        <ul class='list slides'>
                                                                            <li class="slide">
                                                                                <img src="{{ asset("/static/images/slides/1.png") }}">
                                                                            </li>
                                                                            <li class="slide">
                                                                                <img src="{{ asset("/static/images/slides/2.png") }}">
                                                                            </li>
                                                                            <li class="slide">
                                                                                <img src="{{ asset("/static/images/slides/3.png") }}">
                                                                            </li>
                                                                        </ul>
                                                                        <p class="participant-help text-centered">
                                                                            {{ 'homepage_slide_info' | trans }}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class='browser-bottom'>{{ 'participant' | trans }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='container-shadow'></div>
        </div>
    </div>
    <div class='section clients' id='clients'>
        <div class='container'>
            <div class='center-vertical'>
                <div class='row row-bump'>
                    <div class='column six'>
                        <div class='column-inner'>
                            <h3><span>{{ 'testimonials' | trans }}</span></h3>
                            <ul class='list testimonials'>
                                <li>
                                    <div class='media'>
                                        <div class='hd'>
                                            <img src='{{ asset("/static/images/edito/dias.JPG") }}'>
                                        </div>
                                        <div class='bd'>
                                            <p class='quote'>{{ 'quote_dias' | trans }}</p>
                                            <p class='author'><small>Georges-Edouard Dias, L'Oréal</small></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class='media'>
                                        <div class='hd'>
                                            <img src='{{ asset("/static/images/edito/stelmaszyk.jpg") }}'>
                                        </div>
                                        <div class='bd'>
                                            <p class='quote'>{{ 'quote_stelmaszyk' | trans }}</p>
                                            <p class='author'><small>Patric Stelmaszyk, Capgemini Consulting</small></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='column six last'>
                        <div class='column-inner'>
                            <h3><span>{{ 'clients' | trans }}</span></h3>
                            <ul class='row list clients-list'>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/accenture.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/air-liquide.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/auchan.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/banque-populaire.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/bnp-paribas.jpg") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/bouygues-telecom.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/carrefour.png") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/credit-agricole.jpg") }}' />
                                    </div>
                                </li>
                                <li class='column four'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/clients/danone.jpg") }}' />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class='mvl' />
                <div class='row'>
                    <div class='column twelve'>
                        <div class='column-inner'>
                            <h3><span>{{ 'press' | trans }}</span></h3>
                            <div class='row press'>
                                <div class='column three'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/press/challenges.png") }}' />
                                    </div>
                                </div>
                                <div class='column three'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/press/management.png") }}' />
                                    </div>
                                </div>
                                <div class='column three'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/press/les-echos.jpg") }}' />
                                    </div>
                                </div>
                                <div class='column three'>
                                    <div class='column-inner'>
                                        <img src='{{ asset("/static/images/press/latribune.jpeg") }}' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}