{% extends 'layouts/main.html.twig' %}

{# Load client DataSet #}
{% block home_featured_client %}{% endblock %}

{# Load testimonial DataSet #}
{% block home_testimonials %}{% endblock %}

{# load homepage localization keys #}
{% block homepage %}{% endblock %}

{% block body_class %}frontpage{% endblock %}

{# SEO #}
{% set page = 'index' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
    <div class='section headline' id='headline'>
        <div class='container'>
            <div class='center-vertical'>
                <div class='row'>
                    <div class='row-bump'>
                        <a href='{{ app.request.uri }}#clients' class='scroll jump-after-fold' data-offset='0'>
                            <i class='picto down-chevron first'></i>
                            <i class='picto down-chevron last'></i>
                            <span>{{ 'discover_our_happy_clients' | trans | raw }}</span>
                        </a>
                        <div class='column five'>
                            <div class='column-inner'>
                                <h1>{{ 'homepage_title' | trans }}</h1>
                                <h2><span>{{ 'homepage_baseline' | trans }}</span></h2>
                                <div class='try-me'>
                                    <div class='try-me-label'>{{ 'discover_wisembly_for' | trans }}</div>
                                    <ul class='list try-me-choices'>
                                        <li class='first'>
                                            <a id="hp-feature-meeting" href='{{ url('meetings-confcalls') }}'>
                                                {{ 'meetings' | trans }}
                                            </a>
                                        </li>
                                        <li class='second'>
                                            <a id="hp-feature-event" href='{{ url('events-seminaries') }}'>
                                                {{ 'events' | trans }}
                                            </a>
                                        </li>
                                        <li class='last'>
                                            <a id="hp-feature-training" href='{{ url('classes-trainings') }}'>
                                                {{ 'formations' | trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='column six last'>
                            <div class='column-inner embeddedvideo'>
                                {% if app['country'] != 'fr' %}
                                    {% set hash = '5oYbh2PaH_o' %}
                                {% else %}
                                    {% set hash = 'RpyDzJFSl0g' %}
                                {% endif %}
                                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ hash }}?rel=0&autoplay=1&theme=light&showinfo=0&controls=0&modestbranding=1&autohide=1&color=white&disablekb=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='container-shadow'></div>
        </div>
    </div>
    <div class='section clients' id='clients'>
        <div class='container'>
            <div class='row row-bump'>
                <div class='column six'>
                    <div class='column-inner'>
                        <h3><span>{{ 'testimonials' | trans }}</span></h3>
                        <ul class='list testimonials'>
                            {% for testimonial in app.home_testimonials %}
                                <li>
                                    <div class='media'>
                                        <div class='hd'>
                                            <img src='{{ asset(testimonial.picture) }}'>
                                        </div>
                                        <div class='bd'>
                                            <p class='quote'>{{ testimonial.quote | raw }}</p>
                                            <p class='author'><small>{{ testimonial.name }}, {{ testimonial.title }}</small></p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class='column six last'>
                    <div class='column-inner'>
                        <h3><a href='{{ url('clients') }}'>{{ 'clients' | trans }}</a></h3>
                        <ul class='row list clients-list'>
                            {% for client in app.home_featured_client %}
                                <li class='column three'>
                                    <div class='column-inner'>
                                        <a href='{{ url('clients') }}#{{ client.name|escape('url')|lower }}'>
                                            <img src='{{ client.logo }}' />
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr class='mvl' />
            <div class='row'>
                <div class='column twelve'>
                    <div class='column-inner'>
                        <h3><a href='{{ url('about-press') }}'>{{ 'press' | trans }}</a></h3>
                        <div class='row press'>
                            <div class='column three'>
                                <div class='column-inner'>
                                    <a href='{{ url('about-press') }}'>
                                        <img src='{{ asset("/static/images/challenges.png") }}' />
                                    </a>
                                </div>
                            </div>
                            <div class='column three'>
                                <div class='column-inner'>
                                    <a href='{{ url('about-press') }}'>
                                        <img src='{{ asset("/static/images/management.png") }}' />
                                    </a>
                                </div>
                            </div>
                            <div class='column three'>
                                <div class='column-inner'>
                                    <a href='{{ url('about-press') }}'>
                                        <img src='{{ asset("/static/images/les-echos.jpg") }}' />
                                    </a>
                                </div>
                            </div>
                            <div class='column three'>
                                <div class='column-inner'>
                                    <a href='{{ url('about-press') }}'>
                                        <img src='{{ asset("/static/images/latribune.jpeg") }}' />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
