{% extends 'layouts/main.html.twig' %}

{% block body_class %}jobs{% endblock %}

{# SEO #}
{% set page = 'jobs' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/jobs.jpg'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'jobs_page_title' | trans }}</span></h1>
				<h2><span>{{ 'jobs_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_baseline' | trans }}</h3>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						{{ 'jobs_page_baseline_desc' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'jobs_page_location_title' | trans }}</h3>
			<ul class='list gallery-list'>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_why_wisembly_title' | trans }}</h3>
						{{ 'jobs_page_why_wisembly_desc' | trans | raw }}
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_open_positions_title' | trans }}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}