{% extends 'layouts/main.html.twig' %}

{% block body_class %}jobs{% endblock %}

{# SEO #}
{% set page = 'jobs' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/jobs.jpg'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'jobs_page_title' | trans }}</span></h1>
				<h2><span>{{ 'jobs_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_baseline' | trans }}</h3>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						{{ 'jobs_page_baseline_desc' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'jobs_page_location_title' | trans }}</h3>
			<ul class='list gallery-list'>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<img src="http://lorempixel.com/400/280" />
						</div>
					</div>
				</li>
				<li>
					<div class='item'>
						<div class='img'>
							<a href='http://vimeo.com/69160375' class='video'>
								<img src="/static/images/jobs/vimeo.jpg" />
								<i class='play'></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_why_wisembly_title' | trans }}</h3>
						{{ 'jobs_page_why_wisembly_desc' | trans | raw }}
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'jobs_page_open_positions_title' | trans }}</h3>

                        <div class='jobscore-jobs' data-group-by='department' >
                            <!-- Place this exact code where you want the Jobscore job widget to appear on the page -->
                            <div class='jobscore-jobs' data-group-by='department' >
                            <div class='js-fallback' style='color:#888'><a style='color:#888;text-decoration:underline;' href='http://www.jobscore.com/jobs/wisembly'>Wisembly jobs</a> powered by <a style='color:#888' href='http://www.jobscore.com'><img style='padding:0;' align='bottom' src='//www.jobscore.com/images/new/jobscore_logo_embed.png' alt='Applicant Tracking, Social Recruiting and Software Hiring Solution - JobScore'></a></div>
                            </div>

                            <!-- Place this script right before the closing /body tag on the page -->
                            <script type='text/javascript'>
                            (function(d, s, c) {
                              if (window._jobscore_loader) { return; } else { window._jobscore_loader = true; }
                              var o = d.createElement(s); o.type = 'text/javascript'; o.async = true;
                              var sc = d.getElementsByTagName(s)[0]; sc.parentNode.insertBefore(o, sc);
                              o.src = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//www.jobscore.com/jobs/' + c + '/widget.js';
                            })(document, 'script', 'wisembly');
                            </script>
                            <div class='js-fallback' style='color:#888'><a style='color:#888;text-decoration:underline;' href='http://www.jobscore.com/jobs/wisembly'>Emplois Wisembly </a> par <a style='color:#888' href='http://www.jobscore.com'><img style='padding:0;' align='bottom' src='//www.jobscore.com/images/new/jobscore_logo_embed.png' alt=''></a></div>
                            </div><!-- /jobscore-jobs -->
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block page_scripts %}
    {{ parent() }}
    <script type='text/javascript'>
        (function(d, s, c) {
          if (window._jobscore_loader) { return; } else { window._jobscore_loader = true; }
          var o = d.createElement(s); o.type = 'text/javascript'; o.async = true;
          var sc = d.getElementsByTagName(s)[0]; sc.parentNode.insertBefore(o, sc);
          o.src = ('https:' == d.location.protocol ? 'https:' : 'http:') + '//www.jobscore.com/jobs/' + c + '/widget.js';
        })(document, 'script', 'wisembly');
    </script>
{% endblock %}