{% extends 'layouts/main.html.twig' %}

{% block body_class %}meetings-confcalls{% endblock %}

{% block content %}
	<div class='section header' style='background-image: url(http://cdn2.stocksy.com/a/RqI000/z0/72443.jpg);'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>Boostez vos réunions</span></h1>
							<h2><span>Wisembly aide des centaines d’entreprises à mieux préparer, animer et assurer le suivi de leurs réunions & conf-call.</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section features-list'>
		<div class='container'>
			<ul class='list'>
				<li class='one first'>
					<a href='#schedule'>
						<i class='picto'></i>
						<span>Ordre du jour</span>
					</a>
				</li>
				<li class='two'>
					<a href='#quiz'>
						<i class='picto'></i>
						<span>Partage et visualisation de documents</span>
					</a>
				</li>
				<li class='three'>
					<a href='#'>
						<i class='picto'></i>
						<span>Remontée de questions & idées</span>
					</a>
				</li>
				<li class='four'>
					<a href='#quizzes'>
						<i class='picto'></i>
						<span>Votes / prise de décision</span>
					</a>
				</li>
				<li class='five'>
					<a href='#'>
						<i class='picto'></i>
						<span>Enquête de satisfaction</span>
					</a>
				</li>
				<li class='six'>
					<a href='#'>
						<i class='picto'></i>
						<span>Statistiques & comptes-rendus</span>
					</a>
				</li>
				<li class='seven'>
					<a href='#'>
						<i class='picto'></i>
						<span>Multi-devices</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Organisez vos réunions point par point</h3>
						<p>Préparez l’agenda de votre réunion en fonction des sujets à traiter.</p>
						<p>Partagez l’ordre du jour avec l’ensemble des personnes qui participent à la réunion.</p>
						<p>Retrouvez facilement les idées, propositions et décisions prises sur les différents sujets traités.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<h3 class='text-centered'>Tous les supports de votre réunion centralisés à un même endroit</h3>
			<div class='row'>
				<div class='column three'>
					<div class='column-inner'>
						<p>Arrêtez de jongler entre vos différentes présentations PowerPoint et les documents à envoyer par mail aux participants.</p>
					</div>
				</div>
				<div class='column three last'>
					<div class='column-inner'>
						<p>Tout est rassemblé sur votre interface Wisembly, décidez en un clic de les projeter ou de les mettre à disposition de tous. Votre contenu est totalement sécurisé. Seuls les utilisaturs accrédités peuvent y accéder.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Vos participants sont impliqués et restent concentrés</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									<p>Chaque participant peut à tout moment poser réagir ou poser une question sur le sujet traité sans interrompre la présentation.</p>
									<p>Vous ne passez à côté d’aucune idée pertinente.</p>
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									<p>Les participants se sentent impliqués et écoutés lors de vos réunions.</p>
									<p>Tout le monde suit la réunion et reste impliqué.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						here a poll		
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>Prenez de vraies décisions durant vos réunions</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									<p>Les réunions sont de parfaits moments pour prendre des décisions communes.</p>
									<p>Pas la peine de faire un tour de table interminable sans arriver à une décision claire. Un simple clic sur Wisembly vous permet d’organiser un vote.</p>
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									<p>Le résultat est immédiat.</p>
									<p>Vous gardez une trace de chacune des décisions prises dans vos différentes réunions.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<h3 class='text-centered'>Améliorez vos réunions au fur et à mesure</h3>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<p>Pourquoi ne pas profiter de vos participants pour continuer à récolter du feedback à la fin de votre réunion ?</p>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<p>Avec Wisembly, vous pouvez très rapidement récolter leur opinion sur le déroulé de la réunion, sur les sujets abordés et les décisions qui ont été prises.</p>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<p>Quelques clics suffisent à identifier les points encore flous et à améliorer vos prochaines réunions.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					<div class='column-inner'>
						&nbsp;
					</div>
				</div>
				<div class='column six'>
					<div class='column-inner'>
						<h3>Gardez une trace de chacune de vos réunions</h3>
						<p>Wisembly garde en mémoire tout ce qui s’est passé durant votre réunion.</p>
						<p>Retrouvez rapidement les sujets traités, les documents partagés, les questions soulevées et les décisions qui ont été prises.</p>
						<p>Wisembly devient la mémoire de vos réunions.</p>
					</div>
				</div>
				<div class='column three last'>
					<div class='column-inner'>
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id=''>
		<div class='container'>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>Vos participants sont déjà équipés</h3>
						<p>Pourquoi perdre du temps avec des explications interminables en début de réunion?</p>
						<p>Vos participants se connectent avec le device de leur choix (téléphone, smartphone, tablette, PC). Aucun compte à créer, pas de logiciel à télécharger.</p>
						<p>L’accès est immédiat et intuitif.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>Essayez gratuitement</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}