{% extends 'layouts/main.html.twig' %}

{# load features localization keys #}
{% block features_meeting %}{% endblock %}

{% block body_class %}meetings-confcalls{% endblock %}

{# SEO #}
{% set page = 'meetings_confcalls' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section header' style='background-image: url(http://cdn2.stocksy.com/a/RqI000/z0/72443.jpg);'>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'meeting_confcalls_title' | trans }}</span></h1>
							<h2><span>{{ 'meeting_confcalls_desc' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="features-list-container">
		<div class='section features-list' data-spy='affix' data-offset-top='460'>
			<div class='container spy-list'>
				<ul class='nav list'>
					<li class='one first active'>
						<a href='#schedule' class='scroll'>
							<i class='picto picto-agenda'></i>
							<span class='short'>{{ 'schedule_link' | trans }}</span>
						</a>
					</li>
					<li class='two'>
						<a href='#document-sharing' class='scroll'>
							<i class='picto picto-document-sharing'></i>
							<span>{{ 'documents_link' | trans }}</span>
						</a>
					</li>
					<li class='three'>
						<a href='#questions-ideas' class='scroll'>
							<i class='picto picto-participation'></i>
							<span>{{ 'questions_and_ideas_link' | trans }}</span>
						</a>
					</li>
					<li class='four'>
						<a href='#decision-taking' class='scroll'>
							<i class='picto picto-votes'></i>
							<span class='medium'>{{ 'decision_taking_link' | trans }}</span>
						</a>
					</li>
					<li class='five'>
						<a href='#feedback-survey' class='scroll'>
							<i class='picto picto-satisfaction-study'></i>
							<span class='medium'>{{ 'feedback_survey_link' | trans }}</span>
						</a>
					</li>
					<li class='six'>
						<a href='#stats-reporting' class='scroll'>
							<i class='picto picto-stats-reporting'></i>
							<span>{{ 'statistics_link' | trans }}</span>
						</a>
					</li>
					<li class='seven'>
						<a href='#multi-devices' class='scroll'>
							<i class='picto picto-multi-devices'></i>
							<span class='short'>{{ 'multi_devices_link' | trans }}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class='section' id='schedule'>
		<div class='container'>
			<div class='row'>
				<div class='column five'>
					<div class='column-inner'>
						<h3>{{ 'schedule_meetings_title' | trans }}</h3>
						{{ 'schedule_meetings_desc' | trans | raw }}
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<img src='/static/images/illustrations/agenda.png'>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id='document-sharing'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<img src='/static/images/illustrations/managing-documents.png'>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'documents_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									<p>{{ 'documents_desc1' | trans }}</p>
								</div>
							</div>
							<div class='column six last'>
								<div class='column-inner'>
									<p>{{ 'documents_desc2' | trans }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id='questions-ideas'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<h3>{{ 'questions_and_ideas_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'questions_and_ideas_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'questions_and_ideas_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						<div class='browser'>
							<div class='browser-window' data-name='quotes_list'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class='app-logo'>wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quote-box'>
											<div class='textarea-container'>
												<textarea placeholder='{{ 'stream_textarea_placeholder' | trans }}'></textarea>
												<div class='textarea-mirror'></div>
											</div>
										</div>
										<div class='quotes-stream'>
											<ul class='list'>
												<li class="auto">
													<span class='quote-text'>{{ 'meeting_stream_item_1_text' | trans }}</span>
													<span class='quote-author'>{{ 'meeting_stream_item_1_author' | trans }}</span>
												</li>
												<li class="auto">
													<span class='quote-text'>{{ 'meeting_stream_item_2_text' | trans }}</span>
													<span class='quote-author'>{{ 'meeting_stream_item_2_author' | trans }}</span>
												</li>
												<li class="auto">
													<span class='quote-text'>{{ 'meeting_stream_item_3_text' | trans }}</span>
													<span class='quote-author'>{{ 'meeting_stream_item_3_author' | trans }}</span>
												</li>
												<li class="auto">
													<span class='quote-text'>{{ 'meeting_stream_item_4_text' | trans }}</span>
													<span class='quote-author'>{{ 'meeting_stream_item_4_author' | trans }}</span>
												</li>
												<li class="auto">
													<span class='quote-text'>{{ 'meeting_stream_item_5_text' | trans }}</span>
													<span class='quote-author'>{{ 'meeting_stream_item_5_author' | trans }}</span>
												</li>
												<li class="manual" data-name='user-quote-tpl'>
													<span class='quote-text'></span>
													<span class='quote-author'>{{ 'you' | trans }}</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id='decision-taking'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<div class='browser browser-poll'>
							<div class='browser-window'>
								<div class='mocked-app'>
									<div class='app-header'>
										<div class="app-logo">wisembly</div>
									</div>
									<div class='app-body'>
										<div class='quiz-demo'>
											<h4 class='quiz-title'> {{ 'training_poll_title' | trans }} </h4>
											<div data-name='quiz-demo-form'>
												<div class="frame frame-loading hide">
													<div class="overlay"></div>
													<i class="icon-asterisk icon-spin icon-2x"></i>
												</div>
												<label class='choice' for='quiz_choice_1'>
													<input type='radio' id='quiz_choice_1' name='quiz' />
													<i class='target'></i>
													<span>{{ 'training_poll_choice_1' | trans }}</span>
												</label>
												<label class='choice' for='quiz_choice_2'>
													<input type='radio' id='quiz_choice_2' name='quiz' />
													<i class='target'></i>
													<span>{{ 'training_poll_choice_2' | trans }}</span>
												</label>
												<label class='choice' for='quiz_choice_3'>
													<input type='radio' id='quiz_choice_3' name='quiz' />
													<i class='target'></i>
													<span>{{ "training_poll_choice_3" | trans }}</span>
												</label>
												<button
													class='button button-default'
													data-reset-text='{{ 'poll_button_submit' | trans }}'
													data-sending-text='{{ 'poll_button_sending' | trans }}'
													data-sent-text='{{ 'poll_button_sent' | trans }}'>
														{{ 'poll_button_submit' | trans }}
												</button>
											</div>
											<div data-name='quiz-demo-results' class='hide frame'>
												<ul class='list results'>
													<li class='even'>
														 <div class='result'>
															 <span class='text'>{{ 'training_poll_choice_1' | trans }}</span>
															 <span class='value'>55%</span>
															 <span class='progress'>
																 <span class='progress-bar' style='width: 55%'></span>
															 </span>
														 </div>
													</li>
													<li class='even'>
														<div class='result'>
															<span class='text'>{{ 'training_poll_choice_2' | trans }}</span>
															<span class='value'>35%</span>
															<span class='progress'>
																<span class='progress-bar' style='width: 35%'></span>
															</span>
														</div>
													 </li>
													 <li class='even'>
														 <div class='result'>
															 <span class='text'>{{ "training_poll_choice_3" | trans }}</span>
															 <span class='value'>10%</span>
															 <span class='progress'>
																 <span class='progress-bar' style='width: 10%'></span>
															 </span>
														 </div>
													 </li>
												  </ul>
												  <div class='total'>
													  <i class='icon-person icon'></i>
													  <span class='total-count'>12</span>
													  <span class='total-label'>{{ 'participants' | trans }}</span>
												  </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='column six last'>
					<div class='column-inner'>
						<h3>{{ 'decision_taking_title' | trans }}</h3>
						<div class='row'>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'decision_taking_desc1' | trans | raw }}
								</div>
							</div>
							<div class='column six'>
								<div class='column-inner'>
									{{ 'decision_taking_desc2' | trans | raw }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id='feedback-survey'>
		<div class='container'>
			<div class='row'>
				<div class='column six'>
					<div class='column-inner'>
						<img src='/static/images/illustrations/fullfilment-survey.png'>
					</div>
				</div>
				<div class='column five last'>
					<div class='column-inner'>
						<h3>{{ 'feedback_survey_title' | trans }}</h3>
							<div class='row'>
								<div class='column six'>
									<div class='column-inner'>
										<p>{{ 'feedback_survey_desc2' | trans }}</p>
									</div>
								</div>
								<div class='column six last'>
									<div class='column-inner'>
										<p>{{ 'feedback_survey_desc2' | trans }}</p>
										<p>{{ 'feedback_survey_desc3' | trans }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class='section' id='stats-reporting'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'statistics_title' | trans }}</h3>
			<div class='illustration'>
				<img src='/static/images/illustrations/stats-reporting-meetings.png' />
			</div>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'statistics_desc_1' | trans | raw }}
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'statistics_desc_2' | trans | raw }}
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'statistics_desc_3' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section' id='multi-devices'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'multi_devices_title' | trans }}</h3>
			<div class='illustration'>
				<img src='/static/images/illustrations/devices.png'>
			</div>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'multi_devices_desc_1' | trans | raw }}
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						{{ 'multi_devices_desc_2' | trans | raw }}
					</div>
				</div>
				<div class='column four last'>
					<div class='column-inner'>
						{{ 'multi_devices_desc_3' | trans | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section try-now'>
		<div class='container'>
			<div class='row'>
				<div class='column three last'>
					<div class='column-inner'>
						<a href='{{ path('plans') }}' class='button button-large button-attention'>{{ 'try_for_free' | trans }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}