{% extends 'layouts/main.html.twig' %}

{% block body_class %}plans{% endblock %}

{# SEO #}
{% set page = 'plans' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/plans.jpg'>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='column'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'plans_page_title' | trans }}</span></h1>
							<h2><span>{{ 'plans_page_desc' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'choose_your_wiz' | trans }}</h3>
			<h4 class='h4 text-centered'>{{ 'choose_your_wiz_help' | trans }}</h4>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-meetings-conf-calls'>
							<h3>{{ 'plan_meetings_conf_calls_title' | trans }}</h3>
							<h4>{{ 'plan_meetings_conf_calls_baseline' | trans }}</h4>
							<ul class='list'>
								{{ 'plan_meetings_conf_calls_items' | trans | raw }}
							</ul>
							<a href='https://app.wisembly.com/wiz/create?type=meeting&attendees=5' class='button button-attention'>{{ 'plans_try' | trans }}</a>
						</div>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-teaching-training'>
							<h3>{{ 'plan_classes_training_title' | trans }}</h3>
							<h4>{{ 'plan_classes_training_baseline' | trans }}</h4>
							<ul class='list'>
								{{ 'plan_classes_training_items' | trans | raw }}
							</ul>
							<a href='https://app.wisembly.com/wiz/create?type=training&attendees=5' class='button button-attention'>{{ 'plans_try' | trans }}</a>
						</div>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-events-seminaries'>
							<h3>{{ 'plan_events_seminaries_title' | trans }}</h3>
							<h4>{{ 'plan_events_seminaries_baseline' | trans }}</h4>
							<ul class='list'>
								{{ 'plan_events_seminaries_items' | trans | raw }}
							</ul>
							<a href='https://app.wisembly.com/wiz/create?type=event&attendees=5' class='button button-attention'>{{ 'plans_try' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}