{% extends 'layouts/main.html.twig' %}

{% block body_class %}plans{% endblock %}

{# SEO #}
{% set page = 'plans' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}

{# force app locale when creating wiz #}
{% if app['country'] == 'fr' %}
    {% set localeapp = 'fr' %}
{% elseif app['country'] == 'it' %}
    {% set localeapp = 'it' %}
{% else %}
    {% set localeapp = 'en' %}
{% endif %}


{% block content %}
	<!-- <div class='section header'>
		<div class='header-background'>
			<img class='bg' src='{{ asset("/static/images/plans.jpg") }}'>
		</div>
		<div class='container'>
			<div class='row'>
				<div class='column twelve'>
					<div class='column-inner'>
						<div class='id'>
							<h1><span>{{ 'plans_page_title' | trans }}</span></h1>
							<h2><span>{{ 'plans_page_desc' | trans }}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class='section'>
		<div class='container'>
			<h3 class='text-centered'>{{ 'plans_page_title' | trans }}</h3>
			<h4 class='h4 type-light text-centered'>{{ 'choose_your_wiz' | trans }}. {{ 'choose_your_wiz_help' | trans }}</h4>
			<div class='row'>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-meetings-conf-calls'>
							<h3>{{ 'plan_meetings_conf_calls_title' | trans }}</h3>
							<h4>{{ 'plan_meetings_conf_calls_baseline' | trans }}</h4>
							<h5>Fonctionnalités</h5>
							<ul class='list'>
								{{ 'plan_meetings_conf_calls_items' | trans | raw }}
							</ul>
							<div class='plan-footer'>
								<a href='https://app.wisembly.com/h/?locale={{ localeapp }}#wiz/create/meeting/freemium' id='plan-create-meeting' class='button button-attention try_freemium_analytics_action'>{{ 'plans_try' | trans }}</a>
							</div>
						</div>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-teaching-training'>
							<h3>{{ 'plan_classes_training_title' | trans }}</h3>
							<h4>{{ 'plan_classes_training_baseline' | trans }}</h4>
							<h5>Fonctionnalités</h5>
							<ul class='list'>
								{{ 'plan_classes_training_items' | trans | raw }}
							</ul>
							<div class='plan-footer'>
								<a href='https://app.wisembly.com/h/?locale={{ localeapp }}#wiz/create/training/freemium' id='plan-create-training' class='button button-attention try_freemium_analytics_action'>{{ 'plans_try' | trans }}</a>
							</div>
						</div>
					</div>
				</div>
				<div class='column four'>
					<div class='column-inner'>
						<div class='plan plan-events-seminaries'>
							<h3>{{ 'plan_events_seminaries_title' | trans }}</h3>
							<h4>{{ 'plan_events_seminaries_baseline' | trans }}</h4>
							<h5>Fonctionnalités</h5>
							<ul class='list'>
								{{ 'plan_events_seminaries_items' | trans | raw }}
							</ul>
							<div class='plan-footer'>
								<a href='https://app.wisembly.com/h/?locale={{ localeapp }}#wiz/create/event/freemium' id='plan-create-event' class='button button-attention try_freemium_analytics_action'>{{ 'plans_try' | trans }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<p class='type-light type-small'>{{ 'plan_demo_version_footnotes' | trans }}</p>
			<div class='hero mtl phl pvm'>
				<div class='row'>
					<div class='column nine'>
						<div class='column-inner'>
							<p class='mbn inline'>{{ 'incentive_to_contact_for_pricing' | trans }}</p>
						</div>
					</div>
					<div class='column three'>
						<div class='column-inner'>
							<a href='{{ url('contact') }}' class='button button-call'>{{ 'call_us' | trans }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
