{% extends 'layouts/main.html.twig' %}

{% block body_class %}resources{% endblock %}

{# SEO #}
{% set page = 'resources' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='{{ asset("/static/images/resources.jpg") }}'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'resources_page_title' | trans }}</span></h1>
				<h2><span>{{ 'resources_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<h3>{{ 'logo' | trans }}</h3>
						<span>
							<ul>
								<li> Print - CMJN
									<ul>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/print_CMJN/classic/color/wisembly-logo-CMJN.ai">Color, no baseline (.ai ~700k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/print_CMJN/classic/color/wisembly-logo-CMJN.png">Color, no baseline (.png ~27k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/print_CMJN/baseline/color/wisembly-logo-CMJN.ai">Color, with baseline (.ai ~700k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/print_CMJN/baseline/color/wisembly-logo-CMJN.png">Color, with baseline (.png ~35k)</a>
										</li>
									</ul>
								</li>
							</ul>
							<ul>
								<li> Web - RGB
									<ul>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/web_RVB/classic/color/wisembly-logo-RVB.ai">Color, no baseline (.ai ~600k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/web_RVB/classic/color/wisembly-logo-RVB.png">Color, no baseline (.png ~27k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/web_RVB/baseline/color/wisembly-logo-RVB.ai">Color, with baseline (.ai ~700k)</a>
										</li>
										<li>
											<a href="https://wisembly-content.s3.amazonaws.com/resources/logo/web_RVB/baseline/color/wisembly-logo-RVB.png">Color, with baseline (.png ~35k)</a>
										</li>
									</ul>
								</li>
							</ul>
						</span>
						<h3>{{ 'pictures' | trans }}</h3>
						<ul>
							Soon..
						</ul>
						<div class='hero hey-press'>
							<div class='row'>
								<div class='column seven'>
									<div class='column-inner'>
										<p>{{ 'looking_for_something_else' | trans }}</p>
									</div>
								</div>
								<div class='column four last'>
									<div class='column-inner'>
										<a href='{{ url('about-press') }}' class='button button-call'>{{ 'write_to_us' | trans }}</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
