{% extends 'layouts/main.html.twig' %}

{% block body_class %}resources{% endblock %}

{# SEO #}
{% set page = 'resources' %}
{% block meta %}{% endblock %}
{% block page_title %}{{ app.meta[page].title }}{% endblock %}
{% block meta_description %}{{ app.meta[page].description }}{% endblock %}
{% block meta_keywords %}{{ app.meta[page].keywords }}{% endblock %}


{% block content %}
	<div class='section header'>
		<div class='header-background'>
			<img class='bg' src='/static/images/wallpapers/resources.jpg'>
		</div>
		<div class='container'>
			<div class='id'>
				<h1><span>{{ 'resources_page_title' | trans }}</span></h1>
				<h2><span>{{ 'resources_page_desc' | trans }}</span></h2>
			</div>
		</div>
	</div>
	<div class='section'>
		<div class='container'>
			<div class='row'>
				<div class='column three'>
					{% include 'includes/about-navigation.html.twig' %}
				</div>
				<div class='column eight last'>
					<div class='column-inner'>
						<h3>{{ 'logo' | trans }}</h3>
						<h3>{{ 'pictures' | trans }}</h3>
						<div class='hero hey-press'>
							<div class='row'>
								<div class='column seven'>
									<div class='column-inner'>
										<p>{{ 'looking_for_something_else' | trans }}</p>
									</div>
								</div>
								<div class='column four last'>
									<div class='column-inner'>
										<a href='{{ url('resources') }}' class='button button-call'>{{ 'write_to_us' | trans }}</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}